<h1>Bienvenido a Laboratorios, <%= @user.nombre %> </h1>
<p>
  Se ha creado una cuenta para tí.<br>
  Tus credenciales son:<br>
  Correo electrónico: <strong><%= @user.email %></strong><br>
  Contraseña: <strong><%= @user.password %></strong><br>
</p>
<p>
  Recuerda que puedes cambiar la contraseña en el icono con tu nombre en la esquina superior derecha.
</p>