<div class="form-group">
	<label class="control-label col-md-2">ID</label>
	<div class="col-md-7">
		<input ng-model="examen.id" class="form-control" type="text" disabled="true">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Nombre</label>
	<div class="col-md-7">
		<input ng-model="examen.nombre" class="form-control" type="text">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Código Fonasa</label>
	<div class="col-md-7">
		<input ng-model="examen.codigo_fonasa" class="form-control" type="text">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Código Interno</label>
	<div class="col-md-7">
		<input ng-model="examen.codigo" class="form-control" type="text">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Procesa</label>
	<div class="col-md-7">
		<select class="form-control" ng-model="examen.procesa" ng-selected="examen.procedencia_id" ng-options="p.label for p in procesadores track by p.label"></select>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Indicaciones</label>
	<div class="col-md-7">
		<select class="form-control" ng-model="examen.indicacion" ng-selected="examen.indicacion_id" ng-options="i.id for i in indicaciones track by i.id| orderBy:'codigo'"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-md-2"></div>
	<div class="col-md-7">
		<textarea class="form-control" ng-model="examen.indicacion.descripcion" disabled="true"></textarea>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-2">Tipo examen</label>
	<div class="col-md-7">
		<select class="form-control" ng-model="examen.tipo_examen" ng-selected="examen.tipo_examen_id" ng-options="t.codigo for t in tipo_examenes track by t.id| orderBy:'codigo'"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-md-2"></div>
	<div class="col-md-7">
		<input class="form-control" ng-model="examen.tipo_examen.nombre" disabled="true"></input>
	</div>
</div>