<div class="form-group">
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Examen</strong></label>
		</div>
		<div class="col-md-5">
			<input ng-model="examen.nombre" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Título impresión</strong></label>
		</div>
		<div class="col-md-5">
			<input ng-model="examen.nombre_impreso" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label col-md-2"><strong>Código Interno</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.codigo" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label col-md-2"><strong>Código Fonasa</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.codigo_fonasa" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label col-md-2"><strong>Autorizado Fonasa</strong></label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.autorizado_fonasa">
			</label>
		</div>
		<div class="col-md-1">
			<label class="control-label col-md-2"><strong>Sigla</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.sigla" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Alias</strong></label>
		</div>
		<div class="col-md-2 right-inner-addon" ng-repeat="item in alias_examen">
			<input class="form-control" type="text" ng-model="item.nombre" placeholder="Ingrese alias">
		</div>
		<button type="button" ng-show="alias_examen.length < 5" class="btn btn-info-outline" ng-model="alias_button" ng-click="add()"><i class="fa fa-plus-circle"></i>Agregar alias</button>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Proceso</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.proceso_examen" ng-selected="examen.proceso_examen_id" ng-options="p.nombre for p in proceso_examenes track by p.id"></select>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Procesador</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.procesador_examen" ng-selected="examen.procesador_examen_id" ng-options="p.nombre for p in procesadores_examenes track by p.nombre"></select>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Tipo examen</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.tipo_examen" ng-selected="examen.tipo_examen_id" ng-options="t.nombre for t in tipo_examenes track by t.id| orderBy:'codigo'">
			<option value=""></option>
			</select>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Interno</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.interno" ng-selected="examen.interno.codigo" ng-options="t.nombre for t in codigos_interno track by t.codigo">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Tipo muestra</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.tipo_muestra" ng-selected="examen.tipo_muestra_id" ng-options="t.muestra for t in tipos_muestras track by t.id| orderBy:'muestra'">
			<option value=""></option>
			</select>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Área trabajo</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.area_trabajo" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Tipo de pago</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.tipo_pago" ng-selected="examen.tipo_pago.codigo" ng-options="t.nombre for t in tipos_pago track by t.codigo "></select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Preparación paciente</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.indicacion" ng-selected="examen.indicacion_id" ng-options="i.id for i in indicaciones track by i.id| orderBy:'codigo'">
				<option value=""></option>
			</select>
		</div>
		<div class="col-md-3">
			<textarea class="form-control" ng-model="examen.indicacion.descripcion" disabled="true"></textarea>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Indicaciones muestra</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.indicacion_muestra" ng-selected="examen.indicacion_muestra_id" ng-options="i.id for i in indicaciones_muestra track by i.id| orderBy:'codigo'">
			<option value=""></option>
			</select>
		</div>
		<div class="col-md-3">
			<textarea class="form-control" ng-model="examen.indicacion_muestra.descripcion" disabled="true"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Tipo Envase</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.tipo_envase" ng-selected="examen.tipo_envase_id" ng-options="i.codigo for i in tipos_envase track by i.id| orderBy:'codigo'"></select>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Volumen Mínimo</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.volumen_minimo" class="form-control" type="number" placeholder="En mL">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Tiempo máximo</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.maximo_toma_muestra" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Unidad medida</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.unidad_medida" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Tapa Tubo</strong></label>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="examen.tapa_tubo" ng-selected="examen.tapa_tubo_id" ng-options="i.codigo for i in tapas_tubo track by i.id| orderBy:'codigo'"></select>
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Condición transporte</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.condiciones_transporte" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Método</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.metodo" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Método abreviado</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.metodo_abreviado" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Demora</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.demora" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Día de proceso</strong></label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.proceso_lunes"> Lunes
			</label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.proceso_martes"> Martes
			</label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.proceso_miercoles"> Miércoles
			</label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.proceso_jueves"> Jueves
			</label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.proceso_viernes"> Viernes
			</label>
		</div>
		<div class="checkbox col-md-1">
			<label>
				<input type="checkbox" ng-model="examen.proceso_sabado"> Sábado
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Hora de proceso</strong></label>
		</div>
		<div class="col-md-2" ng-repeat="item in horaproceso_examen">
			<input class="form-control" type="text" ng-model="item.hora" placeholder="Ingrese hora" >
		</div>
			<button type="button" ng-show="horaproceso_examen.length < 5" class="btn btn-info-outline" ng-click="add_hora()"><i class="fa fa-plus-circle"></i>Agregar hora</button>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Principio del método</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.principio_metodo" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Interferentes</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.interferentes" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Cálculos</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.calculos" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Propósito</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.proposito" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Analista Responsable</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.analista_responsable" class="form-control" type="text">
		</div>
	</div>
	<div class="heading">
		Rechazos
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Hemolisis</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.rechazo_hemolisis" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Protección luz</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.rechazo_proteccion_luz" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Lipemia</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.rechazo_lipemia" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Ictericia</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.rechazo_ictericia" class="form-control" type="text">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Tubo vidrio</strong></label>
		</div>
		<div class="col-md-2">
			<input ng-model="examen.rechazo_tubo" class="form-control" type="text">
		</div>
		<div class="col-md-1">
			<label class="control-label"><strong>Otros rechazos</strong></label>
		</div>
		<div class="col-md-5">
			<input ng-model="examen.rechazo_otros" class="form-control" type="text" placeholder="Ingrese algún otro tipo de rechazo">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<label class="control-label"><strong>Observaciones</strong></label>
		</div>
		<div class="col-md-11">
			<textarea rows="3" ng-model="examen.observaciones" class="form-control"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="heading">
			Historial modificaciones
		</div>
		<div class="col-sm-5">
			<button type="button" class="btn btn-success" ng-hide="historial_modificaciones" ng-click="mostrar_historial()">
				Mostrar
			</button>
			<button type="button" class="btn btn-warning" ng-show="historial_modificaciones" ng-click="mostrar_historial()">
				Ocultar
			</button>
		</div>
	</div>
	<table class="table table-striped" ng-if="modificacion_examen.length != 0" ng-show="historial_modificaciones">
		<thead>
			<th class="col-md-1">#</th>
			<th >Encargado</th>
			<th >Fecha modificación</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in modificacion_examen track by $index">
				<td>{{$index + 1}}</td>
				<td>{{item.user.nombre}} {{item.user.apellido_paterno}}</td>
				<td>{{item.creacion | date : 'dd-MM-yyyy hh:mm'}}</td>
			</tr>
		</tbody>
	</table>
</div>