<div class="widget-container fluid-height">
	<div class="widget-content padded" ng-show="!examenEditing">
		<table class="table">
			<tr>
				<th class="col-sm-2 text-right">ID</th><td>{{masterExamen.id}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Nombre</th><td>{{masterExamen.nombre}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Codigo fonasa</th><td>{{masterExamen.codigo_fonasa}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Codigo interno</th><td>{{masterExamen.codigo}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Proceso</th><td>{{masterExamen.proceso_examen.nombre}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Tipo examen</th><td>{{masterExamen.tipo_examen.nombre}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Indicaciones</th><td>{{masterExamen.indicacion.descripcion}}</td>
			</tr>
		</table>
		<div class="row form-group">
			<div class="col-sm-11 text-right">
				<button type="button" class="btn btn-primary" ng-click="cambiarVentanaSinCambios()">
					Editar informacion
				</button>
			</div>
		</div>
	</div>
	<div class="widget-content padded" ng-show="examenEditing">
		<form class="form-horizontal" ng-submit="guardarDatosExamen(examen)" name="examenEditingForm">
			<div ng-include="'examenes/_edit_form_fields.html'"></div>
			<div class="form-group">
				<div class="col-sm-11 text-right">
					<button type="submit" class="btn btn-primary" ng-disabled="buttonSubmit">
						Guardar
					</button>
					<button type="button" class="btn btn-danger" ng-click="cambiarVentanaSinCambios()">
						Volver
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
