<div class="row">
	<div class="col-sm-2">
		<div class="widget-container fluid-height">
			<div class="heading">
				<i class="fa fa-fw fa-user"></i> Médicos
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="tab in tabs" ng-class="{active: state.current.name === tab.id}">
					<a ui-sref="{{tab.state}}">
					<p>
						<span class="badge" ng-if="tab.badge">{{tab.badge}}</span>{{tab.name}}
					</p> </a>
				</li>
			</ul>
		</div>
	</div>

	<div ui-view class="col-sm-10"></div>
</div>