<div id="navbar-menu" ng-show="user.signedIn">
	<div class="navbar navbar-fixed-top scroll-hide">
		<div class="container-fluid top-bar">
			<div class="pull-right">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown user" dropdown>
						<a class="dropdown-toggle" dropdown-toggle> <img width="34" height="34" src="<%= asset_path 'avatar-male.jpg' %>" />{{user.nombre}} {{user.apellido_paterno}}<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a ui-sref="loginRequired.account.info"> <i class="fa fa-user"></i>My Account</a>
							</li>
							<li>
								<a ng-href="#/logout"><i class="fa fa-sign-out"></i>Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<button class="navbar-toggle">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
			<a class="logo" ui-sref="loginRequired.index">se7en</a>
			<form class="navbar-form form-inline col-lg-2" name="searchFormTemp" ng-show="showSearchTempForm">
				<input class="form-control" placeholder="Buscar paciente temp" id="searchBoxTemp" ng-model="searchForm.valor" type="text">
			</form>
			<form class="navbar-form form-inline col-lg-2 hidden-xs" name="searchTextForm" ng-submit="searchByText(searchForm.text_value)" ng-show="showSearchTextForm">
				<input class="form-control" placeholder="Buscar paciente nombre" id="searchBoxText" ng-model="searchForm.text_value" type="text" >
			</form>
			<form class="navbar-form form-inline col-lg-2 hidden-xs"  name="searchRutForm" ng-submit="searchByRut(searchForm.rut_value)" ng-show="showSearchRutForm">
				<input class="form-control" placeholder="Buscar paciente rut" id="searchBoxRut" ng-rut rut-format="live" ng-model="searchForm.rut_value" type="text">
			</form>
		</div>
		<div class="container-fluid main-nav clearfix">
			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<a ui-sref="loginRequired.index"><span aria-hidden="true" class="se7en-home"></span>Inicio</a>
					</li>
					<li>
						<a ui-sref="loginRequired.busqueda_paciente"><span class="fa-stack"> <i class="fa fa-user fa-stack-icon"></i> <i class="fa fa-search fa-stack-icon fa-stack-corner-icon"></i></span>Buscar Paciente</a>
					</li>
					<li>
						<a ui-sref="loginRequired.busqueda_ficha"><span class="fa-stack"> <i class="fa fa-file-text-o fa-stack-icon"></i> <i class="fa fa-search fa-stack-icon fa-stack-corner-icon"></i></span>Buscar Ficha</a>
					</li>
					<li>
						<a ui-sref="loginRequired.busqueda_examen"><span class="fa-stack"> <i class="fa fa-heartbeat fa-stack-icon"></i> <i class="fa fa-search fa-stack-icon fa-stack-corner-icon"></i></span>Buscar Examen</a>
					</li>
					<li>
						<a ui-sref="loginRequired.busqueda_muestras"><span class="fa-stack"> <i class="fa fa-user-md fa-stack-icon"></i> <i class="fa fa-search fa-stack-icon fa-stack-corner-icon"></i></span>Buscar Muestras</a>
					</li>
					<li>
						<a ui-sref="loginRequired.lista_ingreso_resultados_examen"><span class="fa-stack"> <i class="fa fa-calculator fa-stack-icon"></i> <i class="fa fa-pencil fa-stack-icon fa-stack-corner-icon"></i></span>
							Ingreso resultados
						</a>
					</li>
					<li class="dropdown" dropdown>
						<a data-toggle="dropdown" dropdown-toggle> <span aria-hidden="true"><i class="fa fa-money"></i></span>Tarifas<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a ui-sref="loginRequired.busqueda_tarifas">Búsqueda</a>
							</li>
							<li>
								<a ui-sref="loginRequired.nueva_tarifa">Nueva</a>
							</li>
							<li>
								<a ui-sref="loginRequired.csv_tarifa">Editar</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" dropdown>
						<a data-toggle="dropdown" dropdown-toggle> <span aria-hidden="true" class="fa fa-fw fa-cog fa-2x"></span>Administración<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a ui-sref="loginRequired.admin.users">Ver usuarios</a>
							</li>
							<li>
								<a ui-sref="loginRequired.facturas.asignar">Facturas</a>
							</li>
							<li>
								<a ui-sref="loginRequired.otros.procesos">Otros</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div ui-view class="main-view"></div>
