<div class="col-sm-12">
	<div class="widget-container fluid-height">
		<div class="widget-content padded">
			<table class="table">
				<tr>
					<th class="col-sm-1 text-left">Fecha</th><td ng-bind="ficha.creado | date:'dd-MM-yyyy'"></td>
					<th class="col-sm-1 text-left">Folio</th><td >{{ficha.id}}</td>
					<th class="col-sm-2 text-left" ng-if="ficha.urgente" colspan="2"><span class="label label-danger"><font size="5">Ficha Urgente</font></span></th>
				</tr>
				<tr>
					<th class="col-sm-1 text-left">Procedencia</th><td >{{ficha.procedencia.nombre}}</td>
					<th class="col-sm-1 text-left">N°</th><td >{{ficha.numero_procedencia}}</td>
					<th class="col-sm-1 text-left">Programa</th><td >{{ficha.programa}}</td>
					<th class="col-sm-1 text-left">N°</th><td >{{ficha.numero_programa}}</td>
				</tr>
				<tr>
					<th class="col-sm-1 text-left">Paciente</th><td>{{ficha.paciente.nombre}} {{ficha.paciente.apellido_paterno}} {{ficha.paciente.apellido_materno}}</td>
					<th class="col-sm-1 text-left">Edad</th><td>{{ficha.paciente.edad}}</td>
					<th class="col-sm-1 text-left">Médico</th><td colspan="3">{{ficha.medico.nombre}} {{ficha.medico.apellido_paterno}} {{ficha.medico.apellido_materno}}</td>
				</tr>
				<tr>
					<th ><label class="control-label"><strong>Diagnostico</strong></label></th>
					<th width="400" colspan="2"><textarea ng-model="ficha.diagnostico" class="form-control" type="text" rows="2" disabled="true"></textarea></th>
					<th ><label class="control-label"><strong>Obs. TM</strong></label></th>
					<th width="400" colspan="3"><textarea ng-model="ficha.observaciones_muestra" class="form-control" rows="2" disabled="true"></textarea></th>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="widget-container fluid-height">
	<div class="widget-content padded">
		<table class="table table-striped" ng-if="ficha.detalles_ficha.length != 0">
			<thead>
				<th >#</th>
				<th >Estado</th>
				<th> Sel.</th>
				<th >Examen</th>
				<th >Flebotomista</th>
				<th >Fecha-Hora</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in ficha.detalles_ficha track by $index">
					<td>{{$index + 1}}</td>
					<td ng-switch="item.estado">
						<span ng-switch-when="0" class="label label-danger">M. Pendiente</span>
						<span ng-switch-when="1" class="label label-warning">Sin resultado</span>
						<span ng-switch-when="2" class="label label-success">Grabado</span>
						<span ng-switch-when="3" class="label label-primary">Validado</span>
						<span ng-switch-when="3" class="label label-info">Impreso</span>
					</td>
					<td ><input ng-disabled="item.imprimir" type="checkbox" name="imprimir" value="imprimir"></td>
					<td>{{item.examen.nombre}}</td>
					<td>{{item.flebotomista}}</td>
					<td ng-bind="item.fecha_muestra | date:'dd-MM-yyyy HH:mm'"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>