<div class="col-sm-12">
	<div class="widget-container fluid-height">
		<div class="widget-content padded">
			<table class="table">
				<tr ng-if="ficha.urgente" >
					<th class="col-sm-2 text-center" colspan="8"><span class="label label-danger"><font size="5">Ficha Urgente</font></span></th>
				</tr>
				<tr>
					<th class="col-sm-1 text-left">Fecha</th><td ng-bind="ficha.creado | date:'dd-MM-yyyy'"></td>
					<th class="col-sm-1 text-left">Folio</th><td ><a class="text-primary" ui-sref="loginRequired.fichas.info({ficha_id: ficha.id})" title="Información ficha" >{{ficha.id}}</a></td>
				</tr>
				<tr>
					<th class="col-sm-1 text-left">Procedencia</th><td >{{ficha.procedencia.nombre}}</td>
					<th class="col-sm-1 text-left">N°</th><td >{{ficha.numero_procedencia}}</td>
					<th class="col-sm-1 text-left">Programa</th><td >{{ficha.programa}}</td>
					<th class="col-sm-1 text-left">N°</th><td >{{ficha.numero_programa}}</td>
				</tr>
				<tr>
					<th class="col-sm-1 text-left">Paciente</th><td><a class="text-primary" ui-sref="loginRequired.pacientes.info({paciente_id: ficha.paciente.id})" title="Información paciente" >{{ficha.paciente.nombre}} {{ficha.paciente.apellido_paterno}} {{ficha.paciente.apellido_materno}}</td></a>
					<th class="col-sm-1 text-left">Edad</th><td>{{ficha.paciente.edad}}</td>
					<th class="col-sm-1 text-left">Médico</th><td colspan="3">{{ficha.medico.nombre}} {{ficha.medico.apellido_paterno}} {{ficha.medico.apellido_materno}}</td>
				</tr>
				<tr>
					<th ><label class="control-label"><strong>Diagnostico</strong></label></th>
					<th colspan="3"><textarea style="width: 300px;" ng-model="ficha.diagnostico" class="form-control" type="text" rows="2" disabled="true"></textarea></th>
					<th "><label class="control-label"><strong>Obs. TM</strong></label></th>
					<th colspan="3"><textarea style="width: 300px;" ng-model="ficha.observaciones_muestra" class="form-control" rows="2" disabled="true"></textarea></th>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="widget-container fluid-height">
	<div class="widget-content padded">
		<form class="form-horizontal" ng-submit="guardarResultados()" name="formResultados" novalidate>
			<div>
				<div ng-if="formResultados.$submitted && !formResultados.$valid" class="panel panel-danger">
					Debe agregar todos los resultados del examen
				</div>
				<table class="table table-striped">
					<thead>
						<th style="text-align:center;">
							<input type="checkbox" ng-model="seleccionar_todos" ng-change="select_all()">
						</th>
						<th>#</th>
						<th>Nombre examen</th>
						<th>Parámetro</th>
						<th>Cantidad</th>
						<th>Un.</th>
						<th>Flebotomista</th>
						<th>Grabado</th>
						<th>Validador</th>
						<th>Estado</th>
						<th>Opciones</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in mostrar_parametros track by $index">
							<td ng-hide="{{item.agrupar}}" rowspan="{{item.cantidad_parametros}}" style="text-align:center;"><input type="checkbox" ng-model="item.imprimir" ng-change="imprimir($index, item)"></td>
							<td ng-hide="{{item.agrupar}}" rowspan="{{item.cantidad_parametros}}">{{item.indice}}</td>
							<td ng-hide="{{item.agrupar}}" rowspan="{{item.cantidad_parametros}}">
								{{item.nombre}}
							</td>
							<td>
								{{item.nombre_parametro}}
							</td>
							<td ng-switch="item.tipo" ng-show="item.mostrar">
								<input ng-disabled="item.deshabilitar" ng-switch-when="numerico" class="form-control" placeholder="Ingrese cantidad" type="number" ng-model="item.cantidad"/>
								<input ng-disabled="item.deshabilitar" ng-switch-default class="form-control" placeholder="Ingrese cantidad" type="text" ng-model="item.cantidad"/>
							</td>
							<td ng-hide="item.mostrar" >
								Examen sin parámetros asignados
							</td >
							<td>{{item.unidad_medida}}</td>
							<td ng-hide="{{item.agrupar}}" rowspan="{{item.cantidad_parametros}}" title="{{item.fecha_muestra}}">{{item.flebotomista}}</td>
							<td title="{{item.fecha_grabacion}}">{{item.grabado}}</td>
							<td title="{{item.fecha_validacion}}">{{item.validador}}</td>
							<td ng-switch="item.estado">
								<span ng-switch-when="0" class="label label-danger">M. Pendiente</span>
								<span ng-switch-when="1" class="label label-warning">Sin resultado</span>
								<span ng-switch-when="2" class="label label-success">Grabado</span>
								<span ng-switch-when="3" class="label label-primary">Validado</span>
								<span ng-switch-when="4" class="label label-info">Impreso</span>
							</td>
							<td align="center">
								<a ng-show="item.mostrar" ng-click="guardar_resultado($index, item)" style="color: {{item.color_save}}; cursor:pointer;" class="text-primary" title="Guardar resultado"><i class="fa fa-floppy-o fa-lg"></i></a>
								<a ng-show="item.mostrar" ng-click="validar_resultado($index, item)" style="color: {{item.color_validado}}; cursor:pointer;" class="text-primary" title="Validar resultado"><i class="fa fa-check fa-lg"></i></a>
								<a class="text-primary" ui-sref="loginRequired.examenes.parametros({examen_id: item.examen_id})" title="Información examen"><i class="fa fa-info-circle fa-lg"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>