<div class="widget-container fluid-height">
	<div class="heading">
		Ingreso manual resultados examen
	</div>
	<div class="widget-content padded">
		<form class="form-horizontal" ng-submit="guardarResultados()" name="formResultados" novalidate>
			<div>
				<div ng-if="formResultados.$submitted && !formResultados.$valid" class="panel panel-danger">
					Debe agregar todos los resultados del examen
				</div>
				<table class="table table-striped">
					<thead>
						<th>#</th>
						<th>Nombre examen</th>
						<th>Cantidad</th>
						<th>Unidades</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in ficha.detalles_ficha track by $index">
							<td>{{$index + 1}}</td>
							<td>{{item.examen.nombre}}</td>
							<td><input class="form-control" placeholder="Ingrese cantidad" type="text" ng-model="item.cantidad"></td>
							<td>{{item.examen.unidad_medida}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<button class="btn btn-primary">
					Guardar resultados
				</button>
			</div>
		</form>
	</div>
</div>