<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-hover table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<td >#</th>
				<th >Ficha</th>
				<th >Apellido paciente</th>
				<th >Nombre paciente</th>
				<th >Examen</th>
				<th >Fecha</th>
				<th >Estado</th>
			</tr>
			<tr>
				<th>
					
				</th>
				<th>
					<input st-search="ficha_id" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="paciente_apellido_paterno" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="paciente_nombre" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="examen_nombre" class="input-sm form-control"/>
				</th>
				<th>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha_muestra" class="input-sm form-control" type="date" id="exampleInput" name="input" ng-model="fecha_muestra" name="fecha" />
					</div>
				</th>
				<th>
					
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in muestras track by $index" >
				<td><a class="text-primary" ui-sref="loginRequired.ingreso_resultados({ficha_id: row.ficha.id})" title="Ingresar resultado" >{{$index + 1 + comienzo_tabla}}</a></td>
				<td><a class="text-primary" ui-sref="loginRequired.fichas.info({ficha_id: row.id})" title="Información ficha">{{row.ficha.id}}</a></td>
				<td><a class="text-primary" ui-sref="loginRequired.pacientes.info({paciente_id: row.ficha.paciente.id})" title="Información paciente">{{row.ficha.paciente.apellido_paterno}}</a></td>
				<td><a class="text-primary" ui-sref="loginRequired.pacientes.info({paciente_id: row.ficha.paciente.id})" title="Información paciente">{{row.ficha.paciente.nombre}}</a></td>
				<td><a class="text-primary" ui-sref="loginRequired.examenes.info({examen_id: row.examen.id})" title="Información examen" >{{row.examen.nombre}}</a></td>
				<td ng-bind="row.fecha_muestra | date:'dd-MM-yyyy'"></td>
				<td ng-switch="row.estado">
					<span ng-switch-when="0" class="label label-danger">M. Pendiente</span>
					<span ng-switch-when="1" class="label label-warning">Sin resultado</span>
					<span ng-switch-when="2" class="label label-success">Grabado</span>
					<span ng-switch-when="3" class="label label-primary">Validado</span>
					<span ng-switch-when="4" class="label label-info">Impreso</span>
					<span ng-switch-default class="label label-danger">¡Sin parámetros!</span>
				</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="7" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>