<div>
	<table class="table table-striped" ng-if="examenesSeleccionados.length != 0">
		<thead>
			<th>Examen</th>
			<th class="col-sm-1" ng-if="editExamenes">Opciones</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in examenesSeleccionados track by $index" ng-if="item.perfil">
				<td> {{item.nombre}}
				<table class="table borderless" style="background: none;" >
					<tbody>
						<tr ng-repeat="examen in item.examenes">
							<td> {{examen.nombre}} </td>
						</tr>
					</tbody>
				</table>
				</td>
				<td ng-if="editExamenes" class="text-center"><a href="#" class="text-danger" ng-click="quitarExamenSeleccionado(item)" title="Quitar perfil"><i class="fa fa-trash-o fa-lg"></i></a></td>
			</tr>
			<tr ng-repeat="item in examenesSeleccionados track by $index" ng-if="!item.perfil">
				<td>{{item.nombre}}</td>
				<td ng-if="editExamenes" class="text-center"><a href="#" class="text-danger" ng-click="quitarExamenSeleccionado(item)" title="Quitar examen"><i class="fa fa-trash-o fa-lg"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>