<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<th>#</th>
				<th WIDTH=10>Ficha</th>
				<th >Tipo Pago</th>
				<th >N° doc</th>
				<th >Previsión</th>
				<th >Fecha</th>
				<th >Ingresar</th>
				<th >Monto</th>
			</tr>
			<tr>
				<th>
					
				</th>
				<th>
					<input st-search="ficha_id" class="input-sm form-control"/>
				</th>
				<th>
					<select st-search="tipos_pago" class="form-control" ng-model="tipos_pago" ng-options="p.nombre for p in tipos_pagos track by p.id | orderBy:'nombre'" name="tipos_pago">
						<option value=""></option>
					</select>
				</th>
				<th>
					
				</th>
				<th>
					<select st-search="prevision" class="form-control" ng-model="prevision" ng-options="plan.nombre for plan in plans track by plan.id | orderBy:'nombre'" name="prevision">
						<option value=""></option>
					</select>
				</th>
				<th>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha_inicio" class="input-sm form-control" type="date" id="fecha_inicio" name="fecha_inicio" ng-model="fecha_inicio" name="fecha_inicio"/>
					</div>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha_fin" class="input-sm form-control" type="date" id="fecha_fin" name="fecha_inicio" ng-model="fecha_fin" name="fecha_fin"/>
					</div>
				</th>
				<th style="text-align:center;">
					<input st-search="ingresar" type="checkbox" ng-model="seleccionar_todos" ng-change="select_all()">
				</th>
				<th>
					
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed track by $index">
				<td>{{$index + 1}}</td>
				<td >{{row.ficha_id}}</td>
				<td>{{row.tipo_pago.nombre}}</td>
				<td>{{row.n_documento}}</td>
				<td>{{row.ficha.prevision.nombre}}</td>
				<td ng-bind="row.creado | date:'dd-MM-yyyy'"></td>
				<td style="text-align:center;"><input type="checkbox" ng-model="row.facturar" ng-change="actualizar_total()"></td>
				<td>{{row.monto_pagado | currency:"$":0}}</td>
			</tr>
			<tr>
				<td><strong>Fichas</strong></td>
				<td><font size="5"><span class="label label-success">{{total_fichas}}</span></font></td>
				<td><strong>Bonos</strong></td>
				<td><font size="5"><span class="label label-success">{{total_bonos}}</span></font></td>
				<td colspan="3"><strong>Total</strong></td>
				<td WIDTH=100><font size="5"><span class="label label-success">{{total_factura | currency:"$":0}}</span></font></td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="8" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8" class="text-center"><div st-pagination="" st-items-by-page="100" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="row">
	<div class="widget-container fluid-height">
		<div class="widget-content padded">
			<form class="form-horizontal" ng-submit="guardar_factura(displayed)" name="facturar_form" novalidate>
				<div class="form-group">
					<label class="control-label col-md-6"><strong>Factura</strong></label>
					<div class="text-right col-md-3">
						<input class="form-control" placeholder="Ingrese factura" type="number" ng-model="n_factura">
					</div>
					<div class="text-right">
						<button type="submit" class="btn btn-primary">
							Guardar
						</button>
						<button type="button" class="btn btn-danger" ui-sref="loginRequired.index">
							Cancelar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>