<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<th>#</th>
				<th WIDTH=10>Ficha</th>
				<th >Tipo Pago</th>
				<th >N° doc</th>
				<th >Factura</th>
				<th >Previsión</th>
				<th >Fecha</th>
				<th >Monto</th>
				<th >Opciones</th>
			</tr>
			<tr>
				<th>
					
				</th>
				<th>
					<input st-search="ficha_id" class="input-sm form-control"/>
				</th>
				<th>
					<select st-search="tipos_pago" class="form-control" ng-model="tipos_pago" ng-options="p.nombre for p in tipos_pagos track by p.id | orderBy:'nombre'" name="tipos_pago">
						<option value=""></option>
					</select>
				</th>
				<th>
					
				</th>
				<th>
					<input st-search="n_factura" class="input-sm form-control"/>
				</th>
				<th>
					<select st-search="prevision" class="form-control" ng-model="prevision" ng-options="plan.nombre for plan in plans track by plan.id | orderBy:'nombre'" name="prevision">
						<option value=""></option>
					</select>
				</th>
				<th>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha_inicio" class="input-sm form-control" type="date" id="fecha_inicio" name="fecha_inicio" ng-model="fecha_inicio" name="fecha_inicio"/>
					</div>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha_fin" class="input-sm form-control" type="date" id="fecha_fin" name="fecha_inicio" ng-model="fecha_fin" name="fecha_fin"/>
					</div>
				</th>
				<th>
					
				</th>
				<th>
					
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed track by $index" ui-sref="loginRequired.fichas.pagos({ficha_id: row.ficha_id})">
				<td>{{$index + 1}}</td>
				<td >{{row.ficha_id}}</td>
				<td>{{row.tipo_pago.nombre}}</td>
				<td>{{row.n_documento}}</td>
				<td ><div class="success">{{row.factura}}</div></td>
				<td>{{row.ficha.prevision.nombre}}</td>
				<td ng-bind="row.creado | date:'dd-MM-yyyy'"></td>
				<td>{{row.monto_pagado | currency:"$":0}}</td>
				<td><a class="text-primary" ui-sref="loginRequired.fichas.pagos({examen_id: row.ficha_id})" title="Información ficha"><i class="fa fa-info-circle fa-lg"></i></a></td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="8" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>