<h3>Crear institución</h3>
<form class="form-horizontal" name="institucion_form" ng-submit="guardar_institucion(institucion_form, institucion_nueva) && closeThisDialog()" novalidate>
	<div class="form-group">
		<label class="control-label col-md-2">Código</label>
		<div class="col-md-4">
			<input class="form-control" placeholder="Ingrese código" type="text" ng-model="institucion_nueva.codigo" name="codigo" required>
			<label class="text-danger" ng-if="(institucion_form.$submitted || !institucion_form.nombre.$pristine) && institucion_form.nombre.$error.required">Debe ingresar codigo</label>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Institución</label>
		<div class="col-md-4">
			<input class="form-control" placeholder="Ingrese Institución" type="text" ng-model="institucion_nueva.nombre" name="apellido_paterno" required>
			<label class="text-danger" ng-if="(institucion_form.$submitted || !institucion_form.apellido_paterno.$pristine) && institucion_form.apellido_paterno.$error.required">Debe ingresar nombre</label>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">Descripción</label>
		<div class="col-md-4">
			<input class="form-control" placeholder="Ingrese descripcion" type="text" ng-model="institucion_nueva.descripcion">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-11 text-right">
			<button type="submit" class="btn btn-primary">
				Guardar
			</button>
			<button type="button" class="btn btn-danger" ng-click="closeThisDialog()">
				Volver
			</button>
		</div>
	</div>
</form>