<h3>Ingreso información nuevo médico</h3>
	<form class="form-horizontal" name="medico_form" ng-submit="guardar_medico(medico_form, medico_nuevo) && closeThisDialog()" novalidate>
		<div class="form-group">
			<label class="control-label col-md-2 col-sm-6">Rut(*)</label>
			<div class="col-sm-4">
				<input ng-rut rut-format="live" ng-model="medico_nuevo.rut_completo" class="form-control" type="text" name="rut_completo" ng-change="buscarMedicoPorRut(medico_nuevo)" required>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.rut_completo.$pristine) && medico_form.rut_completo.$error.required">Debe ingresar rut del medico</label>
				<label class="text-danger" ng-if="!medico_form.rut_completo.$pristine && !medico_form.rut_completo.$valid &&!medico_form.rut_completo.$error.required">Rut invalido</label>
			</div>
			<label class="control-label col-md-2 col-sm-6">Género</label>
			<div class="col-sm-4">
				<select class="form-control" ng-model="medico_nuevo.genero">
					<option value=0> Femenino</option>
					<option value=1> Masculino</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Nombres</label>
			<div class="col-md-1">
				<div ng-if="medico_nuevo.genero == 0">Dra.</div>
				<div ng-if="medico_nuevo.genero == 1">Dr.</div>
			</div>
			<div class="col-md-8">
				<input class="form-control" placeholder="Ingrese nombres" type="text" ng-model="medico_nuevo.nombre" name="nombre" required>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.nombre.$pristine) && medico_form.nombre.$error.required">Debe ingresar nombre</label>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Apellido Paterno</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese apellido paterno" type="text" ng-model="medico_nuevo.apellido_paterno" name="apellido_paterno" required>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.apellido_paterno.$pristine) && medico_form.apellido_paterno.$error.required">Debe ingresar apellido</label>
			</div>
			<label class="control-label col-md-2">Apellido Materno</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese apellido materno" type="text" ng-model="medico_nuevo.apellido_materno">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Dirección</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese dirección" type="text" ng-model="medico_nuevo.direccion" name="direccion">
			</div>
			<label class="control-label col-md-2">Teléfono</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese teléfono" type="text" ng-model="medico_nuevo.telefono">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">E-mail</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese correo electrónico" type="text" ng-model="medico_nuevo.correo" name="correo">
			</div>
			<label class="control-label col-md-2">Celular</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ui-mask="(9) 999-9999" placeholder="Ingrese celular" type="text" ng-model="medico_nuevo.celular" name="celular">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Región</label>
			<div class="col-md-4">
				<select class="form-control" ng-model="medico_nuevo.region" ng-selected="medico_nuevo.region_id" ng-options="r.nombre for r in regiones track by r.id| orderBy:'nombre'" name="region"></select>
			</div>
			<label class="control-label col-md-2">Comuna</label>
			<div class="col-md-4">
				<select class="form-control" ng-model="medico_nuevo.comuna" ng-options="c.nombre for c in medico_nuevo.region.comunas track by c.id| orderBy:'nombre'" name="comuna" ></select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Especialidad</label>
			<div class="col-md-4">
				<select class="form-control" ng-model="medico_nuevo.especialidad" ng-options="e.nombre for e in especialidadesArray track by e.id | orderBy:'nombre'" name="especialidad" required>
					<option value=""></option>
				</select>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.especialidad.$pristine) && medico_form.especialidad.$error.required">Debe ingresar especialidad</label>
				<button type="button" class="btn btn-success" ng-click="crearEspecialidad()" tabindex = "-1" >
					<i class="fa fa-plus" style="margin: 0px 0px 0px 0px;"></i>
				</button>
			</div>
			<label class="control-label col-md-2">Institución</label>
			<div class="col-md-4">
				<select class="form-control" ng-model="medico_nuevo.institucion" ng-options="i.nombre for i in institucionesArray track by i.id | orderBy:'nombre'" name="institucion"></select>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.institucion.$pristine) && medico_form.institucion.$error.required">Debe ingresar institucion</label>
				<button type="button" class="btn btn-success" ng-click="crearInstitucion()" tabindex = "-1" >
					<i class="fa fa-plus" style="margin: 0px 0px 0px 0px;"></i>
				</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-1 text-left">
				<button type="button" class="btn btn-danger" ng-click="borrarMedico()" tabindex = "-1" title="Eliminar medico">
					<i class="fa fa-trash-o" style="margin: 0px 0px 0px 0px;"></i>
				</button>
			</div>
			<div class="col-sm-10 text-right">
				<button type="submit" class="btn btn-primary">
					Guardar
				</button>
				<button type="button" class="btn btn-danger" ng-click="closeThisDialog()">
					Volver
				</button>
			</div>
		</div>
	</form>