<div class="col-sm-12">
	<div class="widget-container fluid-height clearfix">
		<div class="widget-content padded">
			<form class="form-horizontal" name="searchForm" ng-submit="searchByRut(searchForm.valor)">
				<div class="form-group">
					<label class="control-label col-md-2">Rut</label>
					<div class="col-md-7">
						<div class="input-group">
							<input class="form-control" ng-rut rut-format="live" ng-model="searchForm.valor" type="text" required>
							<span class="input-group-btn">
								<button ng-disabled="clientForm.$invalid" class="btn btn-default" type="submit">
									Buscar
								</button></span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="col-sm-12" ng-show="tipo == 1">
	<div class="widget-container fluid-height clearfix">
		<div class="heading">
			<i class="fa fa-bars"></i>Paciente nuevo
		</div>
		<div class="widget-content padded">
			<form class="form-horizontal" name="pacienteForm" ng-submit="storeData()">
				<div class="form-group">
					<label class="control-label col-md-2">Rut</label>
					<div class="col-md-7">
						<input ng-rut rut-format="live" ng-model="paciente.rut_completo" class="form-control" type="text" disabled="true">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Nombres</label>
					<div class="col-md-7">
						<input class="form-control" placeholder="Ingrese nombres" type="text" ng-model="paciente.nombre" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Apellido Paterno</label>
					<div class="col-md-7">
						<input class="form-control" placeholder="Ingrese apellido paterno" type="text" ng-model="paciente.apellido_paterno" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Apellido Materno</label>
					<div class="col-md-7">
						<input class="form-control" placeholder="Ingrese apellido materno" type="text" ng-model="paciente.apellido_materno" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Celular</label>
					<div class="col-md-7">
						<input class="form-control" type="text" ui-mask="(9) 999-9999" ng-model="paciente.celular" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Dirección</label>
					<div class="col-md-7">
						<input class="form-control" placeholder="Ingrese dirección" type="text" ng-model="paciente.direccion" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Región</label>
					<div class="col-md-7">
						<select class="form-control" ng-model="paciente.region" ng-options="r.nombre for r in regiones | orderBy:'nombre'"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Comuna</label>
					<div class="col-md-7">
						<!--<select class="form-control" ng-model="comuna" ng-options="comuna.nombre for comuna in comuns | orderBy:'id'"></select>-->
						<select class="form-control" ng-model="paciente.comuna" ng-options="c.nombre for c in paciente.region.comunas | orderBy:'nombre'"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Fecha de nacimiento</label>
					<div class="col-md-3">
						<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
							<input class="form-control" type="date" id="exampleInput" name="input" ng-model="paciente.fecha_nacimiento" ng-change="calculateAge(paciente.fecha_nacimiento)" required/>
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Edad</label>
					<div class="col-md-7">
						<input ng-model="edad" class="form-control" id="disabledInput" type="text" disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Género</label>
					<div class="col-md-6">
						<label class="radio" >
							<input ng-model="paciente.genero" name="seleccionar_genero" type="radio" value="1">
							<span>Masculino</span></label>
						<label class="radio">
							<input ng-model="paciente.genero" name="seleccionar_genero" type="radio" value="0">
							<span>Femenino</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Previsión</label>
					<div class="col-md-7">
						<select class="form-control" ng-model="paciente.prevision" ng-options="plan.nombre for plan in plans | orderBy:'nombre'"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Diagnóstico</label>
					<div class="col-md-7">
						<textarea ng-model="paciente.diagnostico" class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2"></label>
					<div class="col-md-7">
						<button class="btn btn-primary" type="submit">
							Ingresar
						</button>
						<button class="btn btn-default-outline">
							Cancelar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>