<div class="widget-container fluid-height">
	<div class="heading">
		Información ficha
	</div>
	<div class="widget-content padded">
		<form>
			<div>
				<table class="table table-striped" ng-if="examenesSeleccionados.length != 0">
					<thead>
						<th class="col-md-1">id</th>
						<th >Código</th>
						<th >Exámenes</th>
						<th >Ficha Técnica</th>
						<th >Tapa tubo</th>
						<th >mL</th>
						<th >Muestra</th>
						<th >Observaciones</th>
						<th >Indicaciones</th>
						<th class="col-md-4">Opciones</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in examenesSeleccionados track by $index">
							<td>{{$index + 1}}</td>
							<td>{{item.codigo}}</td>
							<td>{{item.examen.nombre}}</td>
							<td>
								<button type="button" class="btn btn-default" ng-click="abrirFichaTecnica(item.examen.id)"><i class="fa fa-info-circle"></i></button>
							</td>
							<td>{{item.examen.tapa_tubo}}</td>
							<td>{{item.examen.volumen_minimo}}</td>
							<td data-toggle="tooltip" data-placement="top" title="{{item.examen.tipo_examen.nombre}}">{{item.examen.tipo_examen.codigo}}</td>
							<td width="30" data-toggle="tooltip" data-placement="top" title="{{item.examen.observaciones}}">{{item.examen.observaciones}}</td>
							<td data-toggle="tooltip" data-placement="top" title="{{item.examen.indicacion.descripcion}}">{{item.examen.indicacion.id}}</td>
							<td>
								<button type="button" class="btn btn-{{item.estado.class}}" ng-click="cambiarEstadoBoton(item)"><i class="fa fa-pulse fa-spinner" ng-if="item.estado.class=='info'"></i> {{item.estado.text}}</button>
								<a class="btn btn-primary" ng-if="item.estado.class=='success'" ui-sref="loginRequired.ordenes_examen.ingreso_resultados({detalle_ficha_id: item.id})">Agregar resultados</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>