<script type="text/ng-template" id="templateId">
	<h3>{{examen.nombre}}</h3>
	<div class="form-group">
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Creada por</strong></label>
			</div>
			<div class="col-md-2">{{examen.creador?examen.creador:'---'}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Fecha</strong></label>
			</div>
			<div class="col-md-2">{{examen.fecha_creada?examen.fecha_creada:'---'}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Última modificación</strong></label>
			</div>
			<div class="col-md-2">{{examen.ultimo_modifidor?examen.ultimo_modifidor:'---'}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Fecha</strong></label>
			</div>
			<div class="col-md-2">{{examen.fecha_ultima_modificacion?examen.fecha_ultima_modificacion:'---'}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Examen</strong></label>
			</div>{{examen.nombre}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Título impresión</strong></label>
			</div>
			<div class="col-md-5">{{examen.nombre_impreso}}	</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label col-md-2"><strong>Código Interno</strong></label>
			</div>
			<div class="col-md-2">{{examen.codigo}}</div>
			<div class="col-md-1">
				<label class="control-label col-md-2"><strong>Código Fonasa</strong></label>
			</div>
			<div class="col-md-2">{{examen.codigo_fonasa}}</div>
			<div class="col-md-1">
				<label class="control-label col-md-2"><strong>Sigla</strong></label>
			</div>
			<div class="col-md-2">{{examen.sigla}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Proceso</strong></label>
			</div>
			<div class="col-md-2">{{examen.proceso}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Procesador</strong></label>
			</div>
			<div class="col-md-2">{{examen.procesador}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Tipo muestra</strong></label>
			</div>
			<div class="col-md-2">{{examen.tipo_examen.nombre}}</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Tipo examen</strong></label>
			</div>
			<div class="col-md-2">{{examen.tipo_muestra}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Área trabajo</strong></label>
			</div>
			<div class="col-md-2">{{examen.area_trabajo}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Preparación paciente</strong></label>
			</div>
			<div class="col-md-2">{{examen.indicacion.descripcion}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Indicaciones muestra</strong></label>
			</div>
			<div class="col-md-2">{{examen.indicacion_muestra.descripcion}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Tipo Envase</strong></label>
			</div>
			<div class="col-md-2">{{examen.tipo_envase}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Volumen Mínimo</strong></label>
			</div>
			<div class="col-md-2">{{examen.volumen_minimo}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Tiempo máximo</strong></label>
			</div>
			<div class="col-md-2">{{examen.maximo_toma_muestra}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Unidad medida</strong></label>
			</div>
			<div class="col-md-2">{{examen.unidad_medida}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Tapa Tubo</strong></label>
			</div>
			<div class="col-md-2">{{examen.tapa_tubo}}
			<div class="col-md-1">
				<label class="control-label"><strong>Condición transporte</strong></label>
			</div>
			<div class="col-md-2">{{examen.condiciones_transporte}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Método</strong></label>
			</div>
			<div class="col-md-2">{{examen.metodo}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Método abreviado</strong></label>
			</div>
			<div class="col-md-2">{{examen.metodo_abreviado}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Demora</strong></label>
			</div>
			<div class="col-md-2">{{examen.demora}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Principio del método</strong></label>
			</div>
			<div class="col-md-2">{{examen.principio_metodo}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Interferentes</strong></label>
			</div>
			<div class="col-md-2">{{examen.interferentes}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Cálculos</strong></label>
			</div>
			<div class="col-md-2">{{examen.calculos}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Propósito</strong></label>
			</div>
			<div class="col-md-2">{{examen.proposito}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Analista Responsable</strong></label>
			</div>
			<div class="col-md-2">{{examen.analista_responsable}}</div>
		</div>
		<div class="heading">
			Rechazos
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Hemolisis</strong></label>
			</div>
			<div class="col-md-2">{{examen.rechazo_hemolisis}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Protección luz</strong></label>
			</div>
			<div class="col-md-2">{{examen.rechazo_proteccion_luz}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Lipemia</strong></label>
			</div>
			<div class="col-md-2">{{examen.rechazo_lipemia}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Ictericia</strong></label>
			</div>
			<div class="col-md-2">{{examen.rechazo_ictericia}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Tubo vidrio</strong></label>
			</div>
			<div class="col-md-2">{{examen.rechazo_tubo}}</div>
			<div class="col-md-1">
				<label class="control-label"><strong>Otros rechazos</strong></label>
			</div>
			<div class="col-md-5">{{examen.rechazo_otros}}</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label class="control-label"><strong>Observaciones</strong></label>
			</div>
			<div class="col-md-11">{{examen.observaciones}}</div>
		</div>
	</div>
</script>

<div class="widget-container fluid-height">
	<div class="widget-content padded">
		<table class="table">
			<tr>
				<th class="col-sm-1 text-right">Fecha</th><td ng-bind="masterFicha.creado | date:'dd-MM-yyyy'"></td>
				<th class="col-sm-1 text-right">Folio</th><td colspan="2">{{masterFicha.id}}</td>
				<th class="col-sm-2 text-left" ng-if="masterFicha.urgente" colspan="2"><span class="label label-danger"><font size="5">Ficha Urgente</font></span></th>
			</tr>
			<tr>
				<th class="col-sm-1 text-right">Procedencia</th><td >{{masterFicha.procedencia.nombre}}</td>
				<th class="col-sm-1 text-right">N°</th><td >{{masterFicha.numero_procedencia}}</td>
				<th class="col-sm-1 text-right">Programa</th><td >{{masterFicha.programa}}</td>
				<th class="col-sm-1 text-right">N°</th><td >{{masterFicha.numero_programa}}</td>
			</tr>
			<tr>
				<th class="col-sm-1 text-right">Paciente</th><td>{{masterFicha.paciente.nombre}} {{masterFicha.paciente.apellido_paterno}} {{masterFicha.paciente.apellido_materno}}</td>
				<th class="col-sm-1 text-right">Edad</th><td>{{masterFicha.paciente.edad}}</td>
				<th class="col-sm-1 text-right">Médico</th><td colspan="3">{{masterFicha.medico.nombre}} {{masterFicha.medico.apellido_paterno}} {{masterFicha.medico.apellido_materno}}</td>
			</tr>
			<tr>
				<th class="col-sm-1 text-right">Obs. I</th><td colspan="7">{{masterFicha.observaciones}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="col-sm-12">
	<div class="widget-container fluid-height">
		<div class="widget-content padded">
			<form class="form-horizontal" ng-submit="guardarDatosMuestra(masterFicha)">
				<div class="form-group">
					<div class="row">
						<div class="col-md-1">
							<label class="control-label"><strong>Diagnostico</strong></label>
						</div>
						<div class="col-md-5">
							<textarea ng-model="masterFicha.diagnostico" class="form-control" type="text" placeholder="Ingrese diagnostico" rows="3"></textarea>
						</div>
						<div class="col-md-1">
							<label class="control-label"><strong>Obs. TM</strong></label>
						</div>
						<div class="col-md-5">
							<textarea ng-model="masterFicha.observaciones_muestra" class="form-control"  placeholder="Ingrese observaciones a la toma de muestra" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-11 text-right">
						<button type="submit" class="btn btn-primary">
							Guardar
						</button>
						<button type="button" class="btn btn-danger" ng-click="cambiarVentanaSinCambios()">
							Volver
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
<div>
<div class="widget-container fluid-height">
	<div class="widget-content padded">
		<table class="table table-striped" ng-if="examenesSeleccionados.length != 0">
			<thead>
				<th >#</th>
				<th >Código</th>
				<th >Examen</th>
				<th >Tapa tubo</th>
				<th >Muestra</th>
				<th >Indicaciones</th>
				<th >Opciones</th>
				<th >Fecha</th>
				<th >Urgente</th> 
				<th >Flebotomista</th>
				<th >Proceso</th>
				<th >Día proceso</th>
				<th >Demora</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in examenesSeleccionados track by $index | orderBy:'item.examen.nombre'">
					<td>{{$index + 1}}</td>
					<td>{{item.codigo}}</td>
					<td ng-click="showModal(item.examen.id)" style="cursor: pointer;">{{item.examen.nombre}}</td>
					<td>{{item.examen.tapa_tubo.codigo}}</td>
					<td data-toggle="tooltip" data-placement="top" title="{{item.examen.tipo_muestra.muestra}}">{{item.examen.tipo_muestra.codigo}}</td>
					<td data-toggle="tooltip" data-placement="top" title="{{item.examen.indicacion.descripcion}}">{{item.examen.indicacion.codigo}}</td>
					<td>
						<button type="button" class="btn btn-{{item.estado.class}}" ng-click="cambiarEstadoBoton(item)"><i class="fa fa-pulse fa-spinner" ng-if="item.estado.class=='info'"></i> {{item.estado.text}}</button>
					</td>
					<td >
						{{item.fecha_muestra| date:'dd-MM-yyyy HH:mm'}}
					</td>
					<td style="text-align:center;"><input type="checkbox" ng-model="item.urgente" ng-change="actualizar_urgencia(item)"></td>
					<td>{{item.nombre_completo}}</td>
					<td>{{item.proceso}}</td>
					<td>{{item.dia_proceso}}</td>
					<td>{{item.demora}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>