<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-hover table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<th>Indice</th>
				<th >Folio</th>
				<th >Apellido Paterno</th>
				<th >Apellido Materno</th>
				<th >Nombre</th>
				<th>Edad</th>
				<th>Urgente</th>
				<th>Estado</th>
				<th>Flebotomista</th>
			</tr>
			<tr>
				<th>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha" class="input-sm form-control" type="date" id="exampleInput" name="input" ng-change="cambio_fecha()" ng-model="fecha" name="fecha" required/>
					</div>
				</th>
				<th>
					<input st-search="ficha_id" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="apellido_paterno" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="apellido_materno" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="nombre" class="input-sm form-control"/>
				</th>
				<th>
					
				</th>
				<th style="text-align:center;">
					
				</th>
				<th>
					
				</th>
				<th>
					
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed track by $index" ui-sref="loginRequired.muestras.info({ficha_id: row.id})">
				<td WIDTH=10>{{$index + 1}}</td>
				<td WIDTH=10>{{row.id}}</td>
				<td>{{row.paciente.apellido_paterno}}</td>
				<td>{{row.paciente.apellido_materno}}</td>
				<td>{{row.paciente.nombre}}</td>
				<td>{{row.edad}}</td>
				<td style="text-align:center;"><input type="checkbox" ng-model="row.urgente" disabled="true"></td>
					<td align="center" ng-if="row.estado == 'Pendiente'"><span class="label label-danger">{{row.estado}}</span></td>
					<td align="center" ng-if="row.estado == 'Atendido'"><span class="label label-success">{{row.estado}}</span></td>
					<td align="center" ng-if="row.estado == 'En proceso'"><span class="label label-warning">{{row.estado}}</span></td>
				<td>{{row.flebotomista}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="9" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>