<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-hover table-striped" st-pipe="callServer" ng-show="isData">
		<thead>
			<tr>
				<th st-sort="id">Número de ficha</th>
				<th st-sort="procedencia_nombre">Procedencia</th>
				<th st-sort="orden_medica_id">N° Orden Médica</th>
				<th st-sort="creado">Fecha creación</th>
			</tr>
			<tr>
				<th>
				<input st-search="id" class="input-sm form-control"/>
				</th>
				<th>
				<input st-search="procedencia_nombre" class="input-sm form-control"/>
				</th>
				<th>
				<input st-search="orden_medica_id" class="input-sm form-control"/>
				</th>
				<th>
				<input st-search="creado" class="input-sm form-control"/>
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in rowCollection" ui-sref="loginRequired.fichas.info({ficha_id: row.id})" ng-click="$state.go(loginRequired.fichas.info({ficha_id: row.id}))">
				<td>{{row.id}}</td>
				<td>{{row.procedencia.nombre}}</td>
				<td>{{row.orden_medica_id == null ? 'Sin orden médica': row.orden_medica_id}}</td>
				<td>{{row.creado}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="8" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
	<table st-table="rowCollection" class="table table-striped" ng-hide="isData">
		<thead>
			<tr>
				<center>
					<th>No hay fichas para este paciente</th>
				</center>
			</tr>
		</thead>
		<tbody>
	</table>
</div>