<div class="widget-container fluid-height">
	<div class="heading">
		Información personal
	</div>
	<div class="widget-content padded" ng-show="!pacienteEditing">
		<table class="table">
			<tr>
				<th class="col-sm-2 text-right">Rut</th><td><phy-rut rut='masterPaciente.rut_completo'></phy-rut></td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Nombre</th><td>{{masterPaciente.nombre_completo}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Celular</th><td>{{masterPaciente.celular}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Teléfono Fijo</th><td>{{masterPaciente.telefono_fijo}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Fecha de nacimiento</th><td>{{masterPaciente.fecha_nacimiento | date : 'dd-MM-yyyy'}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Edad</th><td>{{masterPaciente.edad}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Correo electrónico</th><td>{{masterPaciente.correo}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Previsión</th><td>{{masterPaciente.prevision.nombre}}</td>
			</tr>
		</table>
		<div class="row form-group">
			<div class="col-sm-11 text-right">
					<button ui-sref="loginRequired.pacientes.asignarExamenes" type="submit" class="btn btn-success">
						Ficha/Cotización
					</button>
				<button type="button" class="btn btn-primary" ng-click="cambiarVentanaSinCambios()">
					Editar información
				</button>
			</div>
		</div>
	</div>
	<div class="widget-content padded" ng-show="pacienteEditing">
		<form class="form-horizontal" ng-submit="guardarDatosPersonales(paciente)" name="paciente_form" novalidate>
			<div ng-include="'pacientes/_edit_form_fields.html'"></div>
			<div class="form-group">
				<div class="col-sm-11 text-right">
					<button type="submit" class="btn btn-primary" ng-disabled="buttonSubmit">
						Editar
					</button>
					<button type="button" class="btn btn-danger" ng-click="cambiarVentanaSinCambios()">
						Volver
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
