<div class="widget-container fluid-height">
	<div class="heading">
		Información personal
	</div>
	<div class="widget-content padded" ng-hide="!user.editing">
		<table class="table">
			<tr>
				<th class="col-sm-2 text-right">Rut</th><td>{{paciente.rut}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Nombre</th><td>{{paciente.nombre?paciente.nombre:""}} {{paciente.apellido_paterno?paciente.apellido_paterno:""}} {{paciente.apellido_materno?paciente.apellido_materno:""}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Email</th><td>{{email}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Dirección</th><td>{{paciente.direccion}}</td>
			</tr>
			<tr>
				<th class="col-sm-2 text-right">Celular</th><td>{{paciente.celular}}</td>
			</tr>
		</table>
		<div class="row form-group">
			<div class="col-sm-11 text-right">
				<button type="button" class="btn btn-primary" ng-click="cambiarVentanaSinCambios()">
					Editar mi información
				</button>
			</div>
		</div>
	</div>
	<div class="widget-content padded" ng-hide="user.editing">
		<form class="form-horizontal" ng-submit="guardarDatosPersonales(paciente)">
			<div ng-include="'pacientes/_edit_form_fields.html'"></div>
			<div class="form-group">
				<div class="col-sm-11 text-right">
					<button type="submit" class="btn btn-primary" ng-disabled="buttonSubmit">
						Guardar mis datos
					</button>
					<button type="button" class="btn btn-danger" ng-click="cambiarVentanaSinCambios()">
						Volver sin guardar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
