<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<th>#</th>
				<th >Rut</th>
				<th >Apellido</th>
				<th >Prevision</th>
			</tr>
			<tr>
				<th></th>
				<th>
					<input ng-rut rut-format="live" ng-model="rut_completo" st-search="rut" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="apellido_paterno" class="input-sm form-control"/>
				</th>
				<th>
					<select st-search="prevision" class="form-control" ng-model="prevision" ng-options="plan.nombre for plan in plans track by plan.id | orderBy:'nombre'" name="prevision">
						<option value=""></option>
					</select>
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed track by $index">
				<td>{{$index + 1 + comienzo_tabla}}</td>
				<td >{{row.rut}}{{row.rutdv}}</td>
				<td><a class="text-primary" ui-sref="loginRequired.pacientes.info({paciente_id: row.id})" title="Información paciente">{{row.apellido_paterno}} {{row.apellido_materno}}, {{row.nombre}}</a></td>
				<td>{{row.prevision.nombre}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="7" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>
