<div>
	<h1>Menu para todas las paginas Usar un directive que controle esto con su propio controlador y que muestre los menus dependiendo de los usuarios que sean</h1>
</div>
<nav-bar></nav-bar>
<div ui-view></div>
