<script type="text/ng-template" id="medicosTemplate.html">
  <a>
  		<strong ng-bind-html="match.model.rut+'-'+match.model.rutdv | typeaheadHighlight:query"></strong> - 
  		<span ng-bind-html="match.model.nombre+' '+match.model.apellido_paterno+' '+match.model.apellido_materno | typeaheadHighlight:query">
  		</span>
  </a>
</script>

<div ng-init="!ficha_edit?ficha_edit=ficha:ficha=ficha"> </div>
<table class="table table-condensed">
	<tbody>
		<tr ng-if="ficha_edit && ficha_edit.id">	
			<td >
				<strong>Fecha</strong>
			</td>
			<td >
				{{ficha_edit.creado | date:'dd/MM/yyyy hh::mm'}} 
			</td>
			<td >
				<strong>
					Recepcionista
				</strong>
			</td>
			<td >
				{{ficha_edit.user.nombre}} {{ficha_edit.user.apellido_paterno}}
			</td>
			<td >
				<strong>
					N° Ficha
				</strong>
			</td>
			<td >
				{{ficha_edit.id}}
			</td>
		</tr>
		<tr>
			<td><strong>Procedencia</strong></td>
			<td >
				<select class="form-control" ng-model="procedencia.selected" ng-options="procedencia.nombre for procedencia in procedenciasArray track by procedencia.id | orderBy:'nombre'" name="procedencia"></select>
			</td>
			<td>
				<strong>
					Folio Proc.
				</strong>
			</td>
			<td><input class="form-control" type="text" ng-model="ficha_edit.numero_procedencia"></td>
			<td><strong>Email</strong></td>
			<td>
				<input class="form-control" type="checkbox" ng-model="ficha_edit.mandar_email" style="height:20px; width:20px;">
			</td>
		</tr>
		<tr>
			<td><strong>Restringido</strong></td>
			<td>
			<input class="form-control" type="checkbox" ng-change="ficha_edit.receptor = ''" ng-checked="ficha_edit.receptor" ng-model="ficha_edit.restringido" style="height:20px; width:20px;">
			</td>
			<td><strong>Entregar a</strong></td>
			<td>
			<input class="form-control" type="text" ng-model="ficha_edit.receptor" ng-disabled="!ficha_edit.restringido">
			</td>
			<td><strong>Urgente</strong></td>
			<td>
				<input class="form-control" type="checkbox" ng-model="ficha_edit.urgente" style="height:20px; width:20px;">
			</td>
		</tr>
		<tr>
			<td><strong>Programa</strong></td>
			<td>
			<input class="form-control" placeholder="Ingrese programa" type="text" ng-model="ficha_edit.programa" required>
			</td>
			<td><strong>N°</strong></td>
			<td>
			<input class="form-control" placeholder="Ingrese número" type="number" ng-model="ficha_edit.numero_programa" required>
			</td>
		</tr>
		<tr>
			<td><strong>Médico</strong></td>
			<td colspan="3">
				<input type="text" ng-model="medico.selected" typeahead="medico as medico.nombre+' '+ medico.apellido_paterno+' '+medico.apellido_materno for medico in medicosArray | medicoFilter:$viewValue | limitTo: 10" typeahead-template-url="medicosTemplate.html" class="form-control">
			</td>
			<td colspan="2">
				<button ng-click="borrarMedico()">
					<i class="fa fa-close text-danger"></i>
				</button>
			</td>
		</tr>
		<tr>
		<td><strong>Observaciones</strong></td>
			<td colspan="5">
			<input ng-model="ficha_edit.observaciones" class="form-control">
			</input>
			</td>
		</tr>
	</tbody>
</table>