<script type="text/ng-template" id="medicosTemplate.html">
  <a class="typeahead-medicos-row">
  		<span>
	  		<phy-rut ng-bind-html="match.model.rut+'-'+match.model.rutdv | typeaheadHighlight:query" rut="match.model.rut+''+match.model.rutdv"></phy-rut>
  		</span>
  		-
  		<span ng-bind-html="match.model.nombre"></span>
  		<span ng-bind-html="match.model.apellido_paterno | typeaheadHighlight:query"></span>
  		<span ng-if="match.model.apellido_materno" ng-bind-html="match.model.apellido_materno"></span>
  </a>
</script>

<script type="text/ng-template" id="create_medico.html">
	<h3>Ingreso información nuevo médico</h3>
	<form class="form-horizontal" name="medico_form" ng-submit="guardar_medico(medico_form, medico_nuevo) && closeThisDialog()" novalidate>
		<div class="form-group">
			<label class="control-label col-md-2 col-sm-6">Rut</label>
			<div class="col-sm-4">
				<input ng-rut rut-format="live" ng-model="medico_nuevo.rut_completo" class="form-control" type="text" name="rut_completo" required>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.rut_completo.$pristine) && medico_form.rut_completo.$error.required">Debe ingresar rut del medico</label>
			</div>
			<label class="control-label col-md-2 col-sm-6">Género</label>
			<div class="col-sm-4">
				<select class="form-control" ng-model="medico_nuevo.genero" ng-init="medico_nuevo.genero = 1">
					<option value='0'> Femenino</option>
					<option value='1'> Masculino</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Nombres</label>
			<div class="col-md-2">
				<select class="form-control" ng-model="medico_nuevo.titulo" ng-init="medico_nuevo.titulo = 1">
					<option value='0'> Dra. </option>
					<option value='1'> Dr. </option>
				</select>
			</div>
			<div class="col-md-8">
				<input class="form-control" placeholder="Ingrese nombres" type="text" ng-model="medico_nuevo.nombre" name="nombre" required>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.nombre.$pristine) && medico_form.nombre.$error.required">Debe ingresar nombre</label>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Apellido Paterno</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese apellido paterno" type="text" ng-model="medico_nuevo.apellido_paterno" name="apellido_paterno" required>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.apellido_paterno.$pristine) && medico_form.apellido_paterno.$error.required">Debe ingresar apellido</label>
			</div>
			<label class="control-label col-md-2">Apellido Materno</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese apellido materno" type="text" ng-model="medico_nuevo.apellido_materno">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Dirección</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese dirección" type="text" ng-model="medico_nuevo.direccion" name="direccion">
			</div>
			<label class="control-label col-md-2">Teléfono</label>
			<div class="col-md-4">
				<input class="form-control" placeholder="Ingrese teléfono" type="text" ng-model="medico_nuevo.telefono">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Especialidad</label>
			<div class="col-md-4">
				<select class="form-control" ng-model="medico_nuevo.especialidad" ng-options="e.nombre for e in especialidades track by e.id | orderBy:'nombre'" name="especialidad" required>
					<option value=""></option>
				</select>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.especialidad.$pristine) && medico_form.especialidad.$error.required">Debe ingresar especialidad</label>
			</div>
			<label class="control-label col-md-2">Institución</label>
			<div class="col-md-4">
				<select class="form-control" ng-model="medico_nuevo.institucion" ng-options="i.nombre for i in instituciones track by i.id | orderBy:'nombre'" name="institucion"></select>
				<label class="text-danger" ng-if="(medico_form.$submitted || !medico_form.institucion.$pristine) && medico_form.institucion.$error.required">Debe ingresar institucion</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-11 text-right">
				<button type="submit" class="btn btn-primary">
					Guardar
				</button>
				<button type="button" class="btn btn-danger" ng-click="closeThisDialog()">
					Volver
				</button>
			</div>
		</div>
	</form>
</script>

<div ng-init="!ficha_edit?ficha_edit=ficha:ficha=ficha"> </div>
<table class="table table-condensed">
	<tbody>
		<tr ng-if="ficha_edit && ficha_edit.id">	
			<td >
				<strong>Fecha</strong>
			</td>
			<td >
				{{ficha_edit.creado | date:'dd/MM/yyyy hh:mm'}} 
			</td>
			<td >
				<strong>
					Recepcionista
				</strong>
			</td>
			<td >
				{{ficha_edit.user.nombre}} {{ficha_edit.user.apellido_paterno}}
			</td>
			<td >
				<strong>
					N° Ficha
				</strong>
			</td>
			<td >
				{{ficha_edit.id}}
			</td>
		</tr>
		<tr>
			<td><strong>Procedencia</strong></td>
			<td >
				<select class="form-control" ng-model="ficha_edit.procedencia" ng-options="procedencia.nombre for procedencia in procedenciasArray track by procedencia.id | orderBy:'nombre'" name="procedencia"></select>
			</td>
			<td>
				<strong>
					Folio Proc.
				</strong>
			</td>
			<td><input class="form-control" type="text" ng-model="ficha_edit.numero_procedencia"></td>
			<td>
				<strong>Email</strong>
				<input class="form-control" type="checkbox" ng-model="ficha_edit.mandar_email" style="height:20px; width:20px;">
			</td>
			<td>
				<strong>Urgente</strong>
				<input class="form-control" type="checkbox" ng-model="ficha_edit.urgente" style="height:20px; width:20px;">
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td><strong>Entregar a</strong></td>
			<td>
			<input class="form-control" type="text" ng-model="ficha_edit.receptor">
			</td>
			<td><strong>Programa</strong></td>
			<td>
			<input class="form-control" placeholder="Ingrese programa" type="text" ng-model="ficha_edit.programa">
			</td>
			<td colspan="2"><strong>N°</strong></td>
			<td>
			<input class="form-control" placeholder="Ingrese número" type="number" ng-model="ficha_edit.numero_programa">
			</td>
		</tr>
		<tr>
			<td><strong>Médico</strong></td>
			<td colspan="2">
				<input type="text" ng-model="ficha_edit.medico" typeahead="medico as medico.nombre+' '+ medico.apellido_paterno+' '+medico.apellido_materno for medico in medicosArray | medicoFilter:$viewValue" typeahead-template-url="medicosTemplate.html" class="form-control" typeahead-on-select='seleccionarMedico($model)'>
			</td>
			<td colspan="2">
				<button type="button" class="btn btn-danger" ng-click="borrarMedico()" tabindex = "-1" >
					<i class="fa fa-close" style="margin: 0px 0px 0px 0px;"></i>
				</button>
				<button type="button" class="btn btn-success" ng-click="crearMedico()" tabindex = "-1" >
					<i class="fa fa-plus" style="margin: 0px 0px 0px 0px;"></i>
				</button>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td><strong>Observaciones</strong></td>
			<td colspan="6">
				<input ng-model="ficha_edit.observaciones" class="form-control">
				</input>
			</td>
		</tr>
	</tbody>
</table>
