<!--
TIPO DE PAGO:
-->
<!--<button ng-click="printExamenesConsola()">Consola</button>-->
<div class="row padded">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<th class="text-center" ng-if="ficha.id"><input type="checkbox" ng-change="toggleAllCheckbox(checked)" ng-model="checked"></th>
				<th class="text-center">#</th>
				<th class="text-center">Código</th>
				<th>Examen</th>
				<th class="text-center" title="Tipo de muestra">TM</th>
				<th class="text-center col-sm-4">Indicaciones</th>
				<th class="text-center" title='Proceso'>PR</th>
				<th class="text-center" title="Día proceso">DP</th>
				<th class="text-center" title='Demora'>DM</th>
				<th class="text-center" title='Tipo de pago'>TP</th>
				<!--th>Estado</th-->
				<th class="text-center">Valor</th>
				<th class="text-center"></th>
			</thead>
			<tbody ng-repeat="item in examenes_no_perfil = (examenesSeleccionados_edit | noPerfilFilter) track by $index">
				<tr>
					<td ng-if="ficha.id" class="text-center">
						<input type="checkbox" ng-model="item.checked" ng-if="item.valido_impresion">
					</td>
					<td class="text-center">{{$index+1}}</td>
					<td class="text-center">{{item.examen.codigo_fonasa}}</td>
					<td>{{item.examen.nombre}}</td>
					<td class="text-center">{{item.examen.tipo_examen.nombre?item.examen.tipo_examen.nombre:'---'}}</td>
					<td class="text-center">{{item.examen.indicacion.descripcion?item.examen.indicacion.descripcion:'---'}}</td>
					<td class="text-center">{{item.examen.externo!=0?'IN':'DE'}}</td>
					<td class="text-center">{{item.examen.dia_proceso?item.examen.dia_proceso:'---'}}</td>
					<td class="text-center">{{item.examen.demora?item.examen.demora:'---'}}</td>
					<td class="text-center">{{item.tipo_pago?item.tipo_pago:'---'}}</td>
					<!--td><label class="label label-{{item.estado.class}}">{{item.estado.texto}}</label></td-->
					<td class="text-center" ng-if="item.copago">{{item.copago?item.copago:0 }}</td>
					<td class="text-center" ng-if="item.precio_particular">{{item.precio_particular?item.precio_particular:0 }}</td>
					<td class="text-center" ng-if="!item.copago && !item.precio_particular">{{item.precio?item.precio:0 }}</td>
					<td class="text-center"><a ng-if="item.delete" class="clickable text-danger" ng-click="quitarExamenSeleccionado(item)" title="Quitar examen"><i class="fa fa-trash-o fa-lg"></i></a>
					<!--a class="text-primary" ui-sref="loginRequired.examenes.info({examen_id: item.examen.id})" target="_blank" title="Información examen"><i class="fa fa-info-circle fa-lg"></i></a-->
					<!--a ng-click="mostrarEnConsola(item)"><i class="fa fa-terminal fa-lg"></i></a-->
					</td>
				</tr>
			</tbody>
			<tbody ng-repeat="item in examenes_perfil = (examenesSeleccionados_edit | perfilFilter) track by $index">
				<tr>
					<td ng-if="ficha.id">
						<input type="checkbox" ng-model="item.checked" ng-if="item.valido_impresion">
					</td>
					<td class="text-center">{{$index+1+(examenesSeleccionados_edit | noPerfilFilter).length}}</td>
					<td colspan="9"><strong>{{item.nombre}}</strong></td>
					<td ng-if="item.delete" class="text-center"><a class="clickable text-danger" ng-click="quitarExamenSeleccionado(item)" title="Quitar perfil"><i class="fa fa-trash-o fa-lg"></i></a></td>
				</tr>
				<tr ng-repeat="detalle in item.examenes" ng-if="!item.nuevo">
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center">{{detalle.examen.codigo_fonasa}}</td>
					<td>{{detalle.examen.nombre}}</td>
					<td class="text-center">{{detalle.examen.tipo_examen.nombre?detalle.examen.tipo_examen.nombre:'---'}}</td>
					<td class="text-center">{{detalle.examen.indicacion.descripcion?detalle.examen.indicacion.descripcion:'---'}}</td>
					<td class="text-center">{{detalle.examen.externo!=0?'IN':'DE'}}</td>
					<td class="text-center">{{detalle.examen.dia_proceso?detalle.examen.dia_proceso:'---'}}</td>
					<td class="text-center">{{detalle.examen.demora?detalle.examen.demora:'---'}}</td>
					<td class="text-center">{{detalle.tipo_pago?detalle.tipo_pago:'---'}}</td>
					<!--td><label class="label label-{{detalle.estado.class}}">{{detalle.estado.texto}}</label></td-->
					<td class="text-center" ng-if="detalle.copago">{{detalle.copago?detalle.copago:0 }}</td>
					<td class="text-center" ng-if="detalle.precio_particular">{{detalle.precio_particular?detalle.precio_particular:0 }}</td>
					<td class="text-center" ng-if="!detalle.copago && !detalle.precio_particular">{{detalle.precio?detalle.precio:0 }}</td>
					<td class="text-center">
						<!--a class="text-primary" ui-sref="loginRequired.examenes.info({examen_id: detalle.examen.id})" target="_blank"  title="Información examen"><i class="fa fa-info-circle fa-lg"></i></a-->
					</td>
				</tr>
				<tr ng-repeat="detalle in item.examenes" ng-if="item.nuevo">
					<td class="text-center"></td>
					<td class="text-center"></td>
					<td class="text-center">{{detalle.codigo_fonasa}}</td>
					<td>{{detalle.nombre}}</td>
					<td class="text-center">{{detalle.tipo_examen.nombre?detalle.tipo_examen.nombre:'---'}}</td>
					<td class="text-center">{{detalle.indicacion.descripcion?detalle.indicacion.descripcion:'---'}}</td>
					<td class="text-center">{{detalle.externo!=0?'IN':'DE	'}}</td>
					<td class="text-center">{{detalle.dia_proceso?detalle.dia_proceso:'---'}}</td>
					<td class="text-center">{{detalle.demora?detalle.demora:'---'}}</td>
					<td class="text-center">{{detalle.tipo_pago?detalle.tipo_pago:'---'}}</td>
					<!--td><label class="label label-{{detalle.estado.class}}">{{detalle.estado.texto}}</label></td-->
					<td class="text-center" ng-if="detalle.copago">{{detalle.copago?detalle.copago:0 }}</td>
					<td class="text-center" ng-if="detalle.precio_particular" >{{detalle.precio_particular?detalle.precio_particular:0 }}</td>
					<td class="text-center" ng-if="!detalle.copago && !detalle.precio_particular">{{detalle.precio?detalle.precio:0 }}</td>
					<td class="text-center">
						<!--a class="text-primary" ui-sref="loginRequired.examenes.info({examen_id: detalle.id})" target="_blank"  title="Información examen"><i class="fa fa-info-circle fa-lg"></i></a-->
					</td>
				</tr>
			</tbody>
			<tbody ng-if="examenesSeleccionados_edit.length == 0">
				<tr>
					<td colspan="11"><strong>No hay examenes seleccionados</strong></td>
				</tr>
			</tbody>
			<tbody> 
				<tr>
					<td colspan="2" ng-if="ficha.id"><strong>Arancel</strong></td>
					<td colspan="1" ng-if="!ficha.id"><strong>Arancel</strong></td>
					<td colspan="1" class="text-center">{{ficha_edit.prevision.tarifa_id?ficha_edit.prevision.tarifa_id:'N/A'}}</td>
					<td colspan="1 ">Total Prevision</td>
					<td class="text-center">{{precio_total_edit}}</td>
					<td colspan="1">Total Particular</td>
					<td class="text-center">{{precio_particular_total_edit}}</td>
					<td colspan="1">Total Copago</td>
					<td class="text-center">{{copago_total_edit}}</td>
					<td colspan="1">Total Cancelar</td>
					<td class="text-center">{{precio_particular_total_edit + copago_total_edit}}</td>
					<!--td colspan="7 text-right"><strong>Precio Total</strong></td>
					<td class="text-center">{{precio_total_edit}}</td-->
					<td></td>
				</tr> 
				<tr ng-if="ficha.id">
					<td colspan="2"><strong>Abonos bonos</strong></td>
					<td class="text-center">{{total_pagos_bonos}}</td>
					<td colspan="1" class="text-center"><strong>Abonos boletas</strong></td>
					<td class="text-center" colspan="2">{{total_pagos_boletas}}</td>
					<td colspan="4"><strong>Pagado</strong></td>
					<td class="text-center text-success">{{total_pagos}}</td>
				</tr>
				<tr ng-if="ficha.id">
					<td colspan="10"><strong>Saldo</strong></td>
					<td class="text-center" ng-class="{'text-success': precio_particular_total_edit + copago_total_edit < total_pagos, 'text-danger': precio_particular_total_edit + copago_total_edit > total_pagos}">{{precio_particular_total_edit + copago_total_edit - total_pagos}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


