<table class="table table-condensed">
	<tbody>
		<tr>
			<td><strong>Rut</strong></td>
			<td colspan="3"><a ui-sref="loginRequired.pacientes.info({paciente_id: paciente.id})"><phy-rut rut='paciente.rut_completo'></phy-rut></a></td>
		</tr>
		<tr>
			<td><strong>Paciente</strong></td>
			<td colspan="3"><a ui-sref="loginRequired.pacientes.info({paciente_id: paciente.id})">{{paciente.nombre}} {{paciente.apellido_paterno}} {{paciente.apellido_materno}}</a></td>
		</tr>
		<tr>
			<td><strong>Genero</strong></td>
			<td colspan="3">
				{{paciente.genero == 0?'Femenino':'Masculino'}}
			</td>
		</tr>
		<tr>
			<td><strong>Fecha Nac.</strong></td>
			<td colspan="3">{{paciente.fecha_nacimiento | date:'dd/MM/yyyy'}} - {{paciente.getEdad()}}</td>
		</tr>
		<tr>
			<td><strong>Teléfono</strong></td>
			<td>{{paciente.telefono}}</td>
			<td><strong>Celular</strong></td>
			<td>{{paciente.celular}}</td>
		</tr>
		<tr>
		<td><strong>Dirección</strong></td>
			<td colspan="3">{{ficha.paciente.direccion}} {{ficha.paciente.comuna.nombre}}</td>
		</tr>
		<tr ng-if="!edit">
			<td><strong>Prevision</strong></td>
			<td colspan="3">{{paciente.prevision.nombre}}</td>
		</tr>
		<tr ng-if="edit">
			<td><strong>Prevision</strong></td>
			<td colspan="3">
				<ui-select ng-model="prevision.selected" theme="bootstrap" on-select="seleccionarPrevision($item, $select)">
					<ui-select-match placeholder="Seleccione prevision">
						<span >{{$select.selected.nombre}}</span>
					</ui-select-match>
					<ui-select-choices repeat="item in previsionesArray | filter: $select.search">
						<span style="width=10px;" ng-bind-html="item.id | highlight: $select.search"></span> |
						<span ng-bind-html="item.nombre | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</td>
		</tr>
		<tr>
			<td><strong>Email</strong></td>
			<td colspan="3">{{paciente.email?paciente.correo:'Sin correo electrónico'}}</td>
		</tr>
		<tr>
			<td><strong>Observaciones</strong></td>
			<td colspan="3">{{paciente.observaciones?paciente.observaciones:'Sin observaciones'}}</td>
		</tr>
	</tbody>
</table>