<table class="table table-condensed">
	<tbody>
		<tr>
			<td><strong>Rut</strong></td>
			<td ><a ui-sref="loginRequired.pacientes.info({paciente_id: paciente.id})" tabindex = "-1" ><phy-rut rut='paciente.rut_completo'></phy-rut></a></td>
			
			<td><strong>Paciente</strong></td>
			<td ><a ui-sref="loginRequired.pacientes.info({paciente_id: paciente.id})" tabindex = "-1" >{{paciente.nombre}} {{paciente.apellido_paterno}} {{paciente.apellido_materno}}</a></td>
		</tr>
		<tr>
			<td><strong>Genero</strong></td>
			<td >
				{{paciente.genero == 0?'Femenino':'Masculino'}}
			</td>
			<td><strong>Email</strong></td>
			<td >{{paciente.email?paciente.correo:'Sin correo'}}</td>
		</tr>
		<tr>
			<td><strong>Fecha Nac.</strong></td>
			<td colspan="3">{{paciente.fecha_nacimiento | date:'dd/MM/yyyy'}} - {{paciente.getEdad()}}</td>
		</tr>
		<tr>
			<td><strong>Teléfono</strong></td>
			<td>{{paciente.telefono}}</td>
			<td><strong>Celular</strong></td>
			<td>{{paciente.celular}}</td>
		</tr>
		<tr>
		<td><strong>Dirección</strong></td>
			<td colspan="3"> {{paciente.direccion}}, {{paciente.comuna.nombre}}</td>
		</tr>
		<td><strong>E-mail</strong></td>
			<td colspan="3"> {{paciente.correo}}</td>
		</tr>
		<tr ng-if="!edit">
			<td><strong>Prevision</strong></td>
			<td >{{paciente.prevision.nombre}}</td>
		</tr>
		<tr ng-if="edit">
			<td><strong>Prevision</strong></td>
			<td colspan="2">
				<select class="form-control" ng-model="prevision" ng-options="prevision.nombre for prevision in previsionesArray track by prevision.id | orderBy:'nombre'" name="prevision" ng-change="seleccionarPrevision(prevision)" tabindex = "-1"  required></select>
			</td>
		</tr>
		<tr>
			<td><strong>Obs.</strong></td>
			<td colspan="3">{{paciente.observaciones?paciente.observaciones:'Sin observaciones'}}</td>
		</tr>
	</tbody>
</table>
