<div class="widget-container fluid-height">
	<table class="table" ng-show="isData">
		<thead>
			<tr>
				<th>Código muestra</th>
				<th>Código exámen</th>
				<th>Examen</th>
				<th>Estado</th>
				<th>Fecha creación</th>
				<th>Fecha muestra</th>
			</tr>
		</thead>
		<tbody ng-repeat="row in examenesFichaArray" ui-sref="loginRequired.ordenes_examen.info({detalle_ficha_id: row.id})">
			<tr>
				<td>{{row.id}}</td>
				<td>{{row.examen.id}}</td>
				<td>{{row.examen.nombre}}</td>
				<td><label class="label label-{{row.estado.class}}">{{row.estado.texto}}</label></td>
				<td>{{row.creado}}</td>
				<td>{{row.fecha_muestra}}</td>
			</tr>
			<tr class="borderless"  ng-if="row.examen.indicaciones.length > 0">
				<td></td>
				<td colspan="5"><strong>Indicaciones toma de muestra:</strong></td>
			</tr>
			<tr class="borderless" ng-repeat="cond in row.examen.indicaciones" ng-if="row.examen.indicaciones.length > 0">
				<td colspan="2"></td>
				<td colspan="4">
					{{cond.descripcion}}
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-hide="isData">
		<thead>
			<tr>
				<center>
					<th>No hay examenes para este paciente</th>
				</center>
			</tr>
		</thead>
		<tbody>
	</table>
</div>