<div class="widget-container fluid-height">
	<table class="table" ng-show="isData">
		<thead>
			<tr>
				<th>Código muestra</th>
				<th>Código exámen</th>
				<th>Examen</th>
				<th>Estado</th>
				<th>Fecha creación</th>
				<th>Fecha muestra</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in examenesFichaArray" ui-sref="loginRequired.examenes.estado({detalle_ficha_id: row.id})">
				<table>
					<tr>
						<td>{{row.id}}</td>
						<td>{{row.examen.id}}</td>
						<td>{{row.examen.nombre}}</td>
						<td><label class="label label-{{row.estado.class}}">{{row.estado.texto}}</label></td>
						<td>{{row.creado}}</td>
						<td>{{row.fecha_muestra}}</td>
					</tr>
					<tr>
						<td colspan="6">Indicaciones toma de muestra</td>
					</tr>
					<tr ng-repeat="cond in row.examen.indicaciones">
						
					</tr>
				</table>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-hide="isData">
		<thead>
			<tr>
				<center>
					<th>No hay examenes para este paciente</th>
				</center>
			</tr>
		</thead>
		<tbody>
	</table>
</div>