<div ng-if="loading" class="row text-center">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>	
</div>

<div class="widget-container fluid-height" ng-if="!loading">
	<div class="row" ng-if="!loading">
		<div class="col-md-4">
			<div class="widget-container fluid-height">
				<div class="widget-content padded clearfix text-center">
					<table class="table table-condensed">
						<tbody> 
							<tr>
								<td><strong>Rut</strong></td>
								<td><a ui-sref="loginRequired.pacientes.info({paciente_id: ficha.paciente.id})"><phy-rut rut='ficha.paciente.rut_completo'></phy-rut></a></td>
							</tr>
							<tr>
								<td><strong>Paciente</strong></td>
								<td><a ui-sref="loginRequired.pacientes.info({paciente_id: ficha.paciente.id})">{{ficha.paciente.nombre}} {{ficha.paciente.apellido_paterno}} {{ficha.paciente.apellido_materno}}</a></td>
							</tr>
							<tr> 
								<td><strong>Fecha Nacimiento</strong></td>
								<td>{{ficha.paciente.fecha_nacimiento | date:'dd/MM/yyyy'}} - {{ficha.paciente.getEdad()}}</td>
							</tr>
							<tr>
								<td><strong>Teléfono</strong></td>
								<td>{{ficha.paciente.celular}}</td>
							</tr>
							<tr>
								<td><strong>Prevision</strong></td>
								<td>{{ficha.paciente.prevision.nombre}}</td>
							</tr>
							<tr>
								<td><strong>Email</strong></td>
								<td>{{ficha.paciente.email?ficha.paciente.correo:'Sin correo electrónico'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="widget-container fluid-height">
				<div class="widget-content padded clearfix text-center">
					<table class="table table-condensed">
						<tbody> 
							<tr>
								<td><strong>Procedencia</strong></td>
								<td colspan="3"><input class="form-control" placeholder="Ingrese procedencia" type="text" ng-model="ficha.procedencia" required></td>
								
								<td width="10%"><strong>Restringido</strong></td>
								<td width="10%"><input style="width: 20px" class="form-control" type="checkbox" ng-model="ficha.restringido"></td>
								<td width="10%">Entregar a</td>
								<td width="70%"><input class="form-control" type="text" ng-model="paciente.receptor" ng-disabled="!ficha.restringido"></td>
							</tr>
							<tr>
								<td width="10%"><strong>Programa</strong></td>
								<td width="40%"><input class="form-control" placeholder="Ingrese programa" type="text" ng-model="ficha.programa" required></td>
								<td width="5%">N°</td>
								<td width="20%"><input class="form-control" placeholder="Ingrese número" type="number" ng-model="ficha.numero_programa" required></td>
								
								<td width="10%"><strong>Email</strong></td>
								<td width="40%"><input style="width: 20px" class="form-control" type="checkbox" ng-model="ficha.correo"></td>
								<td width="10%">Urgente</td>
								<td width="40%"><input style="width: 20px" class="form-control" type="checkbox" ng-model="ficha.urgente"></td>
							</tr>
							<tr>								
								<td><strong>Médico</strong></td>
								<td colspan="3"><ui-select ng-model="medico.selected" theme="bootstrap" >
						<ui-select-match placeholder="Seleccione medico">
							{{$select.selected.nombre}} {{$select.selected.apellido_paterno}} {{$select.selected.apellido_materno}}
						</ui-select-match>
						<ui-select-choices repeat="item in medicosArray | filter: $select.search">
							<div ng-if="item.rut != null && item.rutdv != null"><strong ng-bind-html="item.rut+'-'+item.rutdv | highlight: $select.search"></strong> - <span ng-bind-html="item.nombre + ' ' + item.apellido_paterno + ' ' + item.apellido_materno | highlight: $select.search"></span></div>
						</ui-select-choices>
					</ui-select></td>
								
								<td><strong>Observaciones</strong></td>
								<td colspan="3"><input ng-model="ficha.observaciones" class="form-control"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="widget-content padded">
		<form>
			<div>
				<table class="table table-bordered" ng-if="examenesSeleccionados.length != 0">
					<thead>
						<th>Código</th>
						<th>Examen</th>
						<th>Tipo muestra</th>
						<th>Indicaciones</th>
						<th>Proceso</th>
						<th>Dia proceso</th>
						<th>Demora</th>
						<th>Precio</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in examenesSeleccionados">
							<td>{{item.codigo_fonasa?item.codigo_fonasa:'---'}}</td>
							<td>{{item.nombre?item.nombre:'---'}}</td>
							<td>{{item.tipo_examen.nombre?item.tipo_examen.nombre:'---'}}</td>
							<td>{{item.indicacion.descripcion?item.indicacion.descripcion:'---'}}</td>
							<td>{{item.externo!=0?'Interno':'Externo'}}</td>
							<td>{{item.dia_proceso?item.examen.dia_proceso:'---'}}</td>
							<td>{{item.demora_proceso?item.examen.demora_proceso:'---'}}</td>
							<td>{{item.precio?item.precio:'---'}}</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td colspan="7"><strong>Precio total</strong></td>
							<td class="text-danger">{{precio_total}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row form-group">
				<div class="col-sm-11 text-right">
					<button ng-click="ficha_temporal()" class="btn btn-success">
						Cotizar
					</button>
					<button ng-click="ficha_temporal()" class="btn btn-primary">
						Procesar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>