<script type="text/ng-template" id="examenTemplate.html">
	<a>
		<strong ng-bind-html="match.model.codigo_fonasa | typeaheadHighlight:query"></strong>
		<strong ng-bind-html="match.model.codigo | typeaheadHighlight:query"></strong>
		 - <span ng-bind-html="match.model.nombre | typeaheadHighlight:query"></span>
  	</a>
</script>

<div ng-if="loading" class="row text-center">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>
<div id="printable" ng-if="!loading">
	<form class="form-horizontal" name="form" ng-submit="guardar_cambios_ficha(form)" novalidate>
		<div class="widget-container fluid-height">
			<div class="widget-content clearfix" id="ignore">
				<div class="col-sm-4">
					<ng-include src="'fichas/_informacion_paciente.html'"></ng-include>
				</div>
				<div class="col-sm-8">
					<ng-include src="'fichas/_edit_ficha_form_fields.html'"></ng-include>
				</div>
			</div>
		</div>
		<div class="widget-container fluid-height">		
			<div class="form-group padded">
				<label class="col-sm-2 control-label"><strong>Examenes</strong></label>
				<div class="col-sm-10">
					<input type="text" ng-model="selectModel.selected" typeahead="examen for examen in examenesArray | examenFilter:$viewValue | limitTo: 10" typeahead-template-url="examenTemplate.html" class="form-control" typeahead-on-select='seleccionarExamen($model)' typeahead-input-formatter=""/>
				</div>
			</div>
			<ng-include src="'fichas/_examenes_table_new.html'" id="ignore"></ng-include>
			<div class="row form-group padded">
				<div class="col-sm-11 text-right">
					<a class="btn btn-warning" ui-sref="loginRequired.fichas.pagos({ficha_id: ficha.id})">Realizar pago</a>
					<button class="btn btn-success">Guardar cambios a ficha</button>
					<button type="button" class="btn btn-primary" ng-click="cancelar_cambios()">Cancelar cambios</button>
					<button type="button" class="btn btn-danger" ng-click="getPDF()">Imprimir</button>
				</div>
			</div>
		</div>
	</form>
</div>
	
