<div ng-if="loading" class="row text-center">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>
<div ng-if="!loading">
	<div class="widget-container fluid-height">
		<div class="widget-content clearfix">
			<div class="col-sm-4">
				<ng-include src="'fichas/_informacion_paciente.html'"></ng-include>
			</div>
			<div class="col-sm-8">
				<ng-include src="'fichas/_edit_ficha_form_fields.html'"></ng-include>
			</div>
		</div>
	</div>
	<div class="widget-container fluid-height">
		<form class="form-horizontal" name="form" ng-submit="validate_form(form)" novalidate>
			<div class="form-group padded">
				<div class="alert alert-danger" ng-if="examenesSeleccionados_edit.length == 0 && form.$submitted">
					<label><strong>Debe agregar examenes</strong></label>
				</div>
				<div class="alert alert-success" ng-if="guardado">
					<label><strong>Cambios guardados</strong></label>
				</div>
				<label class="col-sm-2 control-label"><strong>Examenes</strong></label>
				<div class="col-sm-10">
					<ui-select ng-model="selectModel.selected" theme="bootstrap" reset-search-input="true" on-select="seleccionarExamen($item, $select)">
						<ui-select-match placeholder="Seleccione un examen o perfil para agregar">
							{{$select.selected.nombre}}
						</ui-select-match>
						<ui-select-choices group-by="agruparPerfiles" repeat="item in examenesArray | filter: $select.search">
							<div ng-if="item.codigo_fonasa == null">
								<strong ng-bind-html="item.codigo | highlight: $select.search"></strong> - <span ng-bind-html="item.nombre | highlight: $select.search"></span>
							</div>
							<div ng-if="item.codigo != null && item.codigo_fonasa != null">
								<strong ng-bind-html="item.codigo_fonasa+'-'+item.codigo | highlight: $select.search"></strong> - <span ng-bind-html="item.nombre | highlight: $select.search"></span>
							</div>
							<div ng-if="item.codigo === null" >
								<strong ng-bind-html="item.codigo_fonasa| highlight: $select.search"></strong> - <span ng-bind-html="item.nombre | highlight: $select.search"></span>
							</div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<ng-include src="'fichas/_examenes_table_new.html'"></ng-include>
			<div class="row form-group padded">
				<div class="col-sm-11 text-right">
					<a class="btn btn-warning" ui-sref="loginRequired.fichas.pagos({ficha_id: ficha.id})">Realizar pago</a>
					<button class="btn btn-success" ng-click="guardar_cambios_ficha(form)">Guardar cambios a ficha</button>
					<a class="btn btn-primary" ng-click="cancelar_cambios()">Cancelar cambios</a>
				</div>
			</div>
		</form>
	</div>
</div>
	
