<div class="widget-container fluid-height">
	<div class="heading">
		Información ficha
	</div>
	<div class="widget-content padded">
		<form class="form-horizontal">
			<div class="form-group">
				<label  class="col-sm-2 control-label">Procedencia</label>
				<div class="col-sm-10">
					<ui-select ng-model="procedencia.selected" theme="bootstrap" >
						<ui-select-match placeholder="Seleccione procedencia">
							{{$select.selected.nombre}}
						</ui-select-match>
						<ui-select-choices repeat="item in procedenciasArray | filter: $select.search">
							<span ng-bind-html="item.nombre | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">Examenes</label>
				<div class="col-sm-10">
					<ui-select ng-model="selectModel.selected" theme="bootstrap" reset-search-input="true" on-select="seleccionarExamen($item, $select)">
						<ui-select-match placeholder="Seleccione un examen o perfil para agregar">
							{{$select.selected.nombre}}
						</ui-select-match>
						<ui-select-choices group-by="agruparPerfiles" repeat="item in examenesArray | filter: $select.search">
							<div ng-if="item.codigo_fonasa == null"><strong ng-bind-html="item.codigo | highlight: $select.search"></strong> - <span ng-bind-html="item.nombre | highlight: $select.search"></span></div>
							<div ng-if="item.codigo != null && item.codigo_fonasa != null"><strong ng-bind-html="item.codigo_fonasa+'-'+item.codigo | highlight: $select.search"></strong> - <span ng-bind-html="item.nombre | highlight: $select.search"></span></div>
							<div ng-if="item.codigo === null" ><strong ng-bind-html="item.codigo_fonasa| highlight: $select.search"></strong> - <span ng-bind-html="item.nombre | highlight: $select.search"></span></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">Observaciones</label>
				<div class="col-sm-10">
					<input ng-model="observaciones" class="form-control"/>
				</div>
			</div>
			<div ng-include="'fichas/_examenes_table.html'"></div>
			<div class="row form-group">
				<div class="col-sm-11 text-right">
					<button ng-click="crearCotizacion()" class="btn btn-primary">
						Crear cotización
					</button>
					<button ng-click="crearFicha()" class="btn btn-danger">
						Procesar pedido de exámenes
					</button>
				</div>
			</div>
		</form>
	</div>
</div>