<div ng-if="loading" class="row text-center">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>
<div class="widget-container fluid-height" ng-if="!loading">
	<div class="row widget-content padded">
		<div class="col-md-3">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<td><strong>Rut</strong></td>
						<td ><a ui-sref="loginRequired.pacientes.info({paciente_id: paciente.id})"><phy-rut rut='paciente.rut_completo'></phy-rut></a></td>
						<td><strong>Genero</strong></td>
						<td >
							{{paciente.genero == 0?'Femenino':'Masculino'}}
						</td>
					</tr>
					<tr>
						<td><strong>Paciente</strong></td>
						<td colspan="3"><a ui-sref="loginRequired.pacientes.info({paciente_id: paciente.id})">{{paciente.nombre}} {{paciente.apellido_paterno}}</a></td>
					</tr>
					<tr>
						<td><strong>Fecha Nac.</strong></td>
						<td colspan="3">{{paciente.fecha_nacimiento | date:'dd/MM/yyyy'}} - {{paciente.getEdad()}}</td>
					</tr>
					<tr>
						<td><strong>Teléfono</strong></td>
						<td>{{paciente.telefono}}</td>
						<td><strong>Celular</strong></td>
						<td>{{paciente.celular}}</td>
					</tr>
					<tr ng-if="!edit">
						<td><strong>Prevision</strong></td>
						<td >{{paciente.prevision.nombre}}</td>
					</tr>
					<tr ng-if="edit">
						<td><strong>Prevision</strong></td>
						<td colspan="2">
							<select class="form-control" ng-model="prevision" ng-options="prevision.nombre for prevision in previsionesArray track by prevision.id | orderBy:'nombre'" name="prevision" ng-change="seleccionarPrevision(prevision)" required></select>
						</td>
					</tr>
					<tr>
						<td><strong>Obs.</strong></td>
						<td colspan="3">{{paciente.observaciones?paciente.observaciones:'Sin observaciones'}}</td>
					</tr>
				</tbody>
			</table>
				<form class="form-horizontal" name="ingresarPagoForm" novalidate>
				<!--
				<div >
					<h4>Ingresar Documentos</h4>
					<table class="table">
						<tr>
							<th>Tipo de pago</th>
							<td>
								<div ng-class="{'has-error' : (ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_tipo_pago.$error.required)}">
									<select class="form-control" ng-model="nuevoPago.tipo_pago" ng-options="tipoPago.nombre for tipoPago in tiposPagoArray track by tipoPago.id | orderBy:'nombre'" name="tipo_pago" required></select>
									<label class="error" ng-if="(ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_tipo_pago.$error.required)">Seleccione un tipo de pago.</label>
								</div>
							</td>
						</tr>
						<tr>
							<th>N° Documento</th>
							<td>
								<div ng-class="{'has-error' : (ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_numero_documento.$error.required)}">
									<input class="form-control" ng-model="nuevoPago.numero_documento" name="nuevo_pago_numero_documento" type="number" required>
									<label class="error" ng-if="(ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_numero_documento.$error.required)">Ingrese el número del documento.</label>
								</div>
							</td>
						</tr>
						<tr>
							<th>Monto</th>
							<td>
								<div ng-class="{'has-error' : (ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_monto.$error.required)}">
									<input class="form-control" ng-model="nuevoPago.monto" name="nuevo_pago_monto" type="number" required>
									<label class="error" ng-if="(ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_monto.$error.required)">Ingrese el monto pagado.</label>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div>
					<button type="submit" ng-click="submitIngresarPagoForm(ingresarPagoForm)" class="btn btn-success">
						Ingresar
					</button>
					<button type="button" ng-click="resetIngresarPagoForm(ingresarPagoForm)" class="btn btn-primary">
						Limpiar
					</button>
				</div>
				-->
				<div class="form-group">
					<label for="observaciones" class="control-label"><strong>Observaciones pagos</strong></label>
					<div >
						<textarea ng-model="nuevoPago.observaciones_pagos" type="text" class="form-control" name="observaciones" placeholder="Ingresar observaciones"></textarea>
					</div>
					<button type="button" ng-click="guardar_observacion(nuevoPago.observaciones_pagos)" class="btn btn-warning">
						Guardar
					</button>
					<button type="button" ui-sref="loginRequired.fichas.info({ficha_id: ficha.id})" class="btn btn-danger">
						Volver
					</button>
				</div>
			</form>
		</div>
		<div class="widget-container fluid-height col-md-9" ng-if="!loading">
			<div class="heading">
				Pagos realizados
			</div>
			<div class="row widget-content padded">
				<div >
					<table class="table">
						<thead>
							<th> </th>
							<th > # </th>
							<th > Tipo de pago </th>
							<th > N° Doc.</th>
							<th > Factura</th>
							<th> Fecha </th>
							<th> Recaudador </th>
							<th> Monto </th>
							<th class="text-center"> </th>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td><select class="form-control" ng-model="input_pago.tipo_pago" ng-options="tipoPago.nombre for tipoPago in tiposPagoArray track by tipoPago.id | orderBy:'nombre'" name="tipo_pago" required></select></td>
								<td><input ng-model="input_pago.n_documento" class="form-control" /></td>
								<td><input ng-model="input_pago.factura" class="form-control" /></td>
								<td >
									<input class="form-control" ng-model="input_pago.fecha_creacion" type="datetime-local" id="exampleInput" name="input" ng-model="example.value" placeholder="yyyy-MM-ddTHH:mm:ss" />
								</td>
								<td>{{input_pago.nombre}}</td>
								<td><input type="number" ng-model="input_pago.monto_pagado" class="form-control" /></td>
								<td class="text-center">
									<a class="clickable" ng-click="submitIngresarPagoForm(input_pago)"><i class="fa fa-save fa-fw"></i></a>
								</td>
							</tr>
							
							<tr ng-if="detallePagos.length != 0" ng-repeat="pago in detallePagos track by $index" ng-class="{'success' : pago.nuevo}">
								<td><input ng-checked="true" type="checkbox" ng-model="pago.estado"></td>
								<td>{{$index + 1 }}</td>
								<td><select class="form-control" ng-model="pago.tipo_pago" ng-options="tipoPago.nombre for tipoPago in tiposPagoArray track by tipoPago.id | orderBy:'nombre'" name="tipo_pago" ng-change="setPagoChanged(pago,true)" required></select></td>
								<td><input ng-model="pago.n_documento" class="form-control" ng-change="setPagoChanged(pago,true)"/></td>
								<td><input ng-model="pago.factura" class="form-control" ng-change="setPagoChanged(pago,true)"/></td>
								<td >
									<input class="form-control" type="datetime-local" step="60.0" id="fecha_creacion" ng-model="pago.fecha_creacion" ng-change="setPagoChanged(pago,true)"/>
								</td>
								<td>{{pago.user.nombre}} {{pago.user.apellido_paterno}}</td>
								<td><input type="number" ng-model="pago.monto_pagado" class="form-control text-right" ng-change="setPagoChanged(pago,true)"/></td>
								<td class="text-center">
									<a ng-disabled="pago.saving" class="clickable" ng-if="pago.changed" ng-click="pagoUpdate(pago)"><i ng-class="{'text-danger' : pago.saving}" class="fa fa-save fa-fw"></i></a>
									<a ng-disabled="pago.deleting" class="clickable" ng-click="pagoDelete(pago)"><i ng-class="{'text-danger' : pago.deleting}" class="fa fa-trash-o fa-fw text-danger"></i></a>
								</td>
							</tr>
							<tr ng-if="detallePagos.length == 0">
								<td colspan="9"><h4>No hay pagos realizados aún.</h4></td>
							</tr>
							<tr>
								<td colspan="7" align="right"><strong>Total Bonos</strong></td>
								<td class="text-primary" align="right">{{total_bonos}}</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="7" align="right"><strong>Total Otros</strong></td>
								<td class="text-primary" align="right">{{total_otros}}</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="7" align="right"><strong>Total Abonos</strong></td>
								<td class="text-primary" align="right">{{getTotalPagos()}}</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="7" align="right"><strong>Total exámenes</strong></td>
								<td class="text-danger" align="right">{{precio_total}}</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="7" align="right"><strong>Diferencia</strong></td>
								<td ng-class="{'text-primary': precio_total <= getTotalPagos(), 'text-danger': precio_total > getTotalPagos()}" align="right">{{precio_total - getTotalPagos()}}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="loading" class="row text-center">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>