<div ng-if="loading" class="row text-center">
	<i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>
<div class="widget-container fluid-height" ng-if="!loading">
	<div class="row widget-content padded">
		<div class="col-md-4">
			<ng-include src="'fichas/_informacion_paciente.html'"></ng-include>
		</div>
		<div class="col-sm-8">
			<h3>Ingresar pago</h3>
			<form class="form-horizontal" name="ingresarPagoForm" novalidate>
				<table class="table">
					<tr>
						<th>Tipo de pago</th>
						<td>
							<div ng-class="{'has-error' : (ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_tipo_pago.$error.required)}">
							<ui-select ng-model="nuevoPago.tipo_pago" name="nuevo_pago_tipo_pago" theme="bootstrap" required>
								<ui-select-match placeholder="Seleccione tipo de pago">
									{{$select.selected.nombre}}
								</ui-select-match>
								<ui-select-choices repeat="item in tiposPagoArray | filter: $select.search">
									<span ng-bind-html="item.nombre | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<label class="error" ng-if="(ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_tipo_pago.$error.required)">Seleccione un tipo de pago.</label>
							</div>
						</td>
					</tr>
					<tr>
						<th>N° Documento</th>
						<td>
							<div ng-class="{'has-error' : (ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_numero_documento.$error.required)}">
								<input class="form-control" ng-model="nuevoPago.numero_documento" name="nuevo_pago_numero_documento" type="number" required>
								<label class="error" ng-if="(ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_numero_documento.$error.required)">Ingrese el número del documento.</label>
							</div>
						</td>
					</tr>
					<tr>
						<th>Monto a pagar</th>
						<td>
							<div ng-class="{'has-error' : (ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_monto.$error.required)}">
								<input class="form-control" ng-model="nuevoPago.monto" name="nuevo_pago_monto" type="number" required>
								<label class="error" ng-if="(ingresarPagoForm.$submitted && ingresarPagoForm.nuevo_pago_monto.$error.required)">Ingrese el monto pagado.</label>
							</div>
						</td>
					</tr>
					<tr>
						<th>Observaciones</th>
						<td>
							<input class="form-control" ng-model="nuevoPago.observaciones" name="observaciones" type="text">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="form-group">
								<div class="col-sm-11 text-right">
									<button type="submit" ui-sref="loginRequired.fichas.info({ficha_id: ficha.id})" class="btn btn-warning">
										Informacion ficha
									</button>
									<button type="submit" ng-click="submitIngresarPagoForm(ingresarPagoForm)" class="btn btn-success">
										Ingresar pago
									</button>
									<button type="button" ng-click="resetIngresarPagoForm(ingresarPagoForm)" class="btn btn-primary">
										Limpiar formulario
									</button>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div class="widget-container fluid-height">
	<div class="heading">
		Pagos realizados
	</div>
	<div class="row widget-content padded">
		<h4 ng-if="detallePagos.length == 0"> No hay pagos realizados aún. </h4>
		<div class="col-sm-12" ng-if="detallePagos.length != 0">
			<table class="table">
				<thead>
					<th> Código </th>
					<th> Tipo de pago </th>
					<th> Doc. N°</th>
					<th> Fecha </th>
					<th> Recaudador </th>
					<th> Monto </th>
				</thead>
				<tbody>
					<tr ng-repeat="pago in detallePagos">
						<td>{{pago.id}}</td>
						<td>{{pago.tipo_pago.nombre}}</td>
						<td>{{pago.n_documento}}</td>
						<td>{{pago.creado | date:'dd/MM/yyyy HH:mm'}}</td>
						<td>{{pago.user.nombre}} {{pago.user.apellido_paterno}}</td>
						<td>{{pago.monto_pagado}}</td>
					</tr>
					<tr>
						<td colspan="5"><strong>Precio total</strong></td>
						<td class="text-danger">{{precio_total}}</td>
					</tr>
					<tr>
						<td colspan="5"><strong>Pagado</strong></td>
						<td class="text-success">{{getTotalPagos()}}</td>
					</tr>
					<tr>
						<td colspan="5"><strong>Total</strong></td>
						<td ng-class="{'text-success': precio_total < getTotalPagos(), 'text-danger': precio_total > getTotalPagos()}">{{precio_total - getTotalPagos()}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>