<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-hover table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<th > #</th>
				<th >Ficha</th>
				<th >Fecha</th>
				<th >Apellido</th>
				<th >Procedencia</th>
				<th >Previsión</th>
			</tr>
			<tr>
				<th>
					
				</th>
				<th>
					<input st-search="id" class="input-sm form-control"/>
				</th>
				<th width="3%">
						<input st-search="fecha" class="input-sm form-control" type="date" id="fecha" name="fecha" ng-model="fecha" name="fecha"/>
				</th>
				<th>
					<input st-search="apellido_paterno" class="input-sm form-control"/>
				</th>
				<th>
					<select st-search="procedencia" class="form-control" ng-model="procedencia" ng-options="p.nombre for p in procedencias track by p.id | orderBy:'nombre'" name="procedencia">
						<option value=""></option>
					</select>
				</th>
				<th>
					<select st-search="prevision" class="form-control" ng-model="prevision" ng-options="p.nombre for p in previsiones track by p.id | orderBy:'nombre'" name="prevision">
						<option value=""></option>
					</select>
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed track by $index" >
				<td>{{$index + 1 + comienzo_tabla}}</td>
				<td><a class="text-primary" ui-sref="loginRequired.fichas.info({ficha_id: row.id})" title="Información ficha">{{row.id}}</a></td>
				<td>{{row.creado | date:'dd-MM-yyyy'}}</td>
				<td>{{row.paciente.apellido_paterno}} {{row.paciente.apellido_materno}}, {{row.paciente.nombre}}</td>
				<td>{{row.procedencia.nombre}}</td>
				<td>{{row.prevision.nombre}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="7" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>