<div class="widget-container fluid-height">
	<table st-table="displayed" class="table table-hover table-striped" st-pipe="callServer">
		<thead>
			<tr>
				<th > #</th>
				<th >Ficha</th>
				<th >Apellido Paterno</th>
				<th >Apellido Materno</th>
				<th >Nombre paciente</th>
				<th >Fecha creación</th>
			</tr>
			<tr>
				<th>
					
				</th>
				<th>
					<input st-search="id" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="apellido_paterno" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="apellido_materno" class="input-sm form-control"/>
				</th>
				<th>
					<input st-search="nombre" class="input-sm form-control"/>
				</th>
				<th>
					<div class="input-group date datepicker" data-date-autoclose="true" data-date-format="dd.mm.yyyy" data-date-start-view="2">
						<input st-search="fecha" class="input-sm form-control" type="date" id="fecha" name="fecha" ng-model="fecha" name="fecha"/>
					</div>
				</th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed track by $index" >
				<td>{{$index + 1 + comienzo_tabla}}</td>
				<td><a class="text-primary" ui-sref="loginRequired.fichas.info({ficha_id: row.id})" title="Información ficha">{{row.id}}</a></td>
				<td>{{row.paciente.apellido_paterno}}</td>
				<td>{{row.paciente.apellido_materno}}</td>
				<td>{{row.paciente.nombre}}</td>
				<td>{{row.creado | date:'dd-MM-yyyy'}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
			<td colspan="7" class="text-center"><i class="fa fa-spinner fa-pulse"></i></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center"><div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div></td>
			</tr>
		</tfoot>
	</table>
</div>