<!DOCTYPE html>
<html>
<head>
<meta name="google-site-verification" content="GdbfSOXjhQlClj41jzZZYDqaz1m3EDMSvwQ5REz6goo" />
  <title>Laboratorio Clínico</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page-header-fixed bg-1 sidebar-nav nav-open" ng-app="lab">
	
<%= yield %>

</body>
</html>
